<template>
  <main>
    <div
      class="banner"
    >
      <img
        class="abstract"
        :src="abstract"
        alt=""
      >
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a
              class="back"
              href="/works"
            ><font-awesome-icon
              icon="arrow-left-long"
            /> Back to all works</a>
            <h1>{{ page.acf.project_name }}</h1>
            <hr>
            <p>{{ page.acf.project_description }}</p>
            <ul class="categories">
              <li
                v-for="cat in page.acf.categories"
                :key="cat"
                v-text="cat"
              />
            </ul>
          </div>
          <div class="col-6">
            <img
              class="product-image"
              :src="page.acf.project_image.url"
              :alt="page.acf.project_image.alt"
            >
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="page.acf.about"
      class="about"
    >
      <div class="container">
        <h3>About the Company</h3>
        <div
          class="about-text"
          v-html="page.acf.about"
        />
      </div>
    </div>

    <div
      v-if="page.acf.problem"
      class="problem"
    >
      <div class="container">
        <div class="row">
          <div class="col-5">
            <h2><small>The</small><br>Problem</h2>
            <hr>
          </div>
          <div class="col-7">
            <div v-html="page.acf.problem" />
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="page.acf.problem_bottom"
      class="problem-bottom"
    >
      <div class="container">
        <div class="row">
          <div class="col-5">
            <img
              :src="arrows"
              alt=""
            >
          </div>
          <div class="col-7">
            <div v-html="page.acf.problem_bottom" />
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="page.acf.solution"
      class="solution"
      :class="{ image: page.acf.solution_image }"
    >
      <div class="container">
        <div class="row">
          <div class="col-5">
            <h2><small>The</small><br>Solution</h2>
            <hr>
          </div>
          <div class="col-7">
            <div v-html="page.acf.solution" />
          </div>
          <div class="col-12">
            <img
              :src="page.acf.solution_image.url"
              :alt="page.acf.solution_image.alt"
              class="image"
            >
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="page.acf.results"
      class="results"
    >
      <div class="container">
        <div class="row">
          <div class="col-5">
            <h2><small>The</small><br>Results</h2>
            <hr>
          </div>
          <div class="col-7">
            <div v-html="page.acf.results" />
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="page.acf.hiw_first_header && !page.acf.disable_how_it_was"
      class="hiw"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>How it was</h2>
          </div>
          <div class="col-4">
            <div class="initial">
              {{ page.acf.hiw_first_initial }}
            </div>
            <h3>{{ page.acf.hiw_first_header }}</h3>
            <p>{{ page.acf.hiw_first_description }}</p>
          </div>
          <div class="col-4">
            <div class="initial">
              {{ page.acf.hiw_second_initial }}
            </div>
            <h3>{{ page.acf.hiw_second_header }}</h3>
            <p>{{ page.acf.hiw_second_description }}</p>
          </div>
          <div class="col-4">
            <div class="initial">
              {{ page.acf.hiw_third_initial }}
            </div>
            <h3>{{ page.acf.hiw_third_header }}</h3>
            <p>{{ page.acf.hiw_third_description }}</p>
          </div>
        </div>
      </div>
    </div>

    <div
      v-for="(row, index) in page.acf.content"
      :key="index"
      class="flex-content"
      :class="row.background_color"
    >
      <div class="container">
        <div class="row">
          <h2 :class="{ 'col-5': row.description, 'col-12': !row.description }">
            {{ row.header }}
            <hr>
          </h2>
          <div
            v-if="row.description"
            class="description col-7"
            v-html="row.description"
          />
          <div
            v-if="row.image"
            class="col-12"
          >
            <img
              :src="row.image.url"
              :alt="row.image.alt"
            >
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="page.acf.visuals.length"
      class="visuals"
      :class="page.acf.visuals_background"
    >
      <div class="container">
        <h2>{{ page.acf.visuals_header || 'Visuals' }}</h2>
        <div class="slider">
          <transition
            :name="slide"
            mode="out-in"
          >
            <img
              :key="visual"
              :src="page.acf.visuals[visual].image.url"
              :alt="page.acf.visuals[visual].image.alt"
            >
          </transition>
          <div
            class="prev"
            @click="prev()"
            @keyPress="prev()"
          >
            <font-awesome-icon
              icon="arrow-left-long"
            />
          </div>
          <div
            class="next"
            @click="next()"
            @keyPress="next()"
          >
            <font-awesome-icon
              icon="arrow-right-long"
            />
          </div>
        </div>
        <div class="preload">
          <img
            v-for="(img, index) in page.acf.visuals"
            :key="index"
            :src="page.acf.visuals[index].image.url"
            :alt="page.acf.visuals[index].image.alt"
          >
        </div>
        <ul class="pager">
          <li
            v-for="(slide, index) in page.acf.visuals"
            :key="index"
            :class="{active: visual == index}"
            @click="setVisual(index)"
            @keyPress="setVisual(index)"
          />
        </ul>
      </div>
    </div>
  </main>
</template>

<script>
import arrows from '@/assets/imgs/problem-arrows.png';
import abstract from '@/assets/imgs/work-abstract.svg';
import { page } from '@/mixins/wp-post';

export default {
  name: 'KnockWork',

  mixins: [page(({ route }) => route.params.slug)],

  data() {
    return {
      abstract,
      arrows,
      visual: 0,
      slide: 'slide-next'
    };
  },

  methods: {
    next() {
      this.slide = 'slide-next';

      if (this.visual !== (this.page.acf.visuals.length - 1)) {
        this.visual += 1;
      }
      else {
        this.visual = 0;
      }
    },
    prev() {
      this.slide = 'slide-prev';

      if (this.visual !== 0) {
        this.visual -= 1;
      }
      else {
        this.visual = this.page.acf.visuals.length - 1;
      }
    },
    setVisual(i) {
      this.visual = i;
    }
  }

};
</script>

<style lang="scss" scoped>
main {
  background: $knock-black;
  color: $knock-white;
}

.banner {
  background-size: 100%;
  background-position: top right;
  position: relative;

  @media screen and (max-width: $breakpoint-sm) {
    padding-top: 40px;
  }

  .container {
    z-index: 30;
  }

  .abstract {
    position: absolute;
    width: 1200px;
    right: 0;
    top: 0;
    z-index: 20;
    pointer-events: none;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  .back {
    margin-top: 40px;
    font-weight: 14px;
    line-height: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;

    svg {
      border: 1px solid $knock-orange;
      display: inline-block;
      height: 20px;
      width: 20px;
      padding: 8px;
      border-radius: 20px;
      margin-right: 20px;
    }
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }

  hr {
    margin: 21px 0 48px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px;
  }

  .product-image {
    margin: 120px auto -40px;
    max-width: 100%;
    display: block;
    pointer-events: none;

    @media screen and (max-width: $breakpoint-sm) {
      position: static;
      margin: 0 auto -40px;
      max-width: 80%;
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-bottom: 44px;

    li {
      color: $knock-white;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      padding: 8px 16px;
      background: $knock-orange;
      border-radius: 18px;
      transition: all 0.4s;
      margin-bottom: 8px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.about {
  background: $knock-white;
  color: $knock-black;
  text-align: center;
  padding: 60px;

  @media screen and (max-width: $breakpoint-sm) {
    padding: 60px 0;
    text-align: left;
  }

  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 36px;
      line-height: 42px;
      font-weight: 700;
    }
  }

  .about-text {
    font-size: 20px;
    line-height: 28px;
    max-width: 800px;
    margin: 0 auto;
  }
}

.problem {
  background: #f8f8f8;
  color: $knock-black;
  padding: 60px 0;

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: none;
  }
}

.problem-bottom {
  background: #ebebeb;
  color: $knock-black;
  padding: 80px 0;
}

.solution {
  padding-top: 20px;
  position: relative;

  &.image::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: $knock-white;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: $knock-orange;
    text-transform: none;
  }

  .image {
    display: block;
    margin: 0 auto;
  }
}

.results {
  background: $knock-white;
  color: $knock-black;
  padding: 60px 0 60px;

  &::v-deep strong {
    font-weight: 400;
    color: $knock-orange;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: none;
  }
}

.hiw {
  margin: 60px 0 0;

  h2 {
    color: $knock-orange;
    text-transform: none;
    text-align: center;
    font-weight: 700;
  }

  .initial {
    font-family: Druk, sans-serif;
    font-size: 144px;
    line-height: 144px;
    color: transparent;
    -webkit-text-stroke: 2px $knock-orange;
    opacity: 0.2;
    margin-bottom: -58px;
  }

  h3 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    text-transform: none;
    margin: 0 0 20px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    margin: 0;
  }
}

.flex-content {
  padding: 60px 0;

  &.white {
    background: $knock-white;
    color: $knock-black;
  }

  &.gray {
    background: #f8f8f8;
    color: $knock-black;
  }

  &.black {
    background: $knock-black;
  }

  h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
  }

  .description::v-deep {
    font-size: 20px;
    line-height: 28px;
  }

  .col-12 {
    margin-top: 60px;

    img {
      width: 100%;
    }
  }
}

.visuals {
  padding: 120px 0;

  &.white {
    background: $knock-white;
    color: $knock-black;
  }

  &.gray {
    background: #f8f8f8;
    color: $knock-black;
  }

  &.black {
    background: $knock-black;
  }

  h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 60px;
  }

  .slider {
    padding: 0 50px;
    position: relative;

    .slide-next-enter-active,
    .slide-next-leave-active,
    .slide-prev-enter-active,
    .slide-prev-leave-active {
      transition: all 0.4s ease;
    }

    .slide-next-enter {
      transform: translateX(50vw);
      opacity: 0;
    }

    .slide-next-leave-to {
      transform: translateX(-50vw);
      opacity: 0;
    }

    .slide-prev-enter {
      transform: translateX(-50vw);
      opacity: 0;
    }

    .slide-prev-leave-to {
      transform: translateX(50vw);
      opacity: 0;
    }

    .prev,
    .next {
      border: 1px solid #606060;
      color: #606060;
      height: 20px;
      width: 20px;
      padding: 8px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: calc(50% - 20px);
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        color: $knock-white;
        border-color: $knock-orange;
        background: $knock-orange;
      }
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }
  }

  .preload {
    display: none;
  }

  .pager {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;

    li {
      display: block;
      height: 10px;
      width: 10px;
      border: 1px solid $knock-black;
      border-radius: 6px;
      cursor: pointer;
      margin: 0 10px;

      &:first-child() {
        margin-right: 10px;
      }

      &:last-child() {
        margin-left: 10px;
      }

      &.active {
        background: $knock-black;
      }
    }
  }
}
</style>
