<template>
  <main>
    <div
      class="header"
      :style="headerBg"
    >
      <div class="container">
        <h1>{{ page.title.rendered }}</h1>
        <hr>
        <div class="row">
          <p class="col-6">
            {{ page.acf.subheader }}
          </p>
        </div>

        <div class="row">
          <div class="col-12">
            <ul class="categories">
              <li
                :class="{'active': category == 'All'}"
                @click="setCat('All');"
                @keypress="setCat('All');"
              >
                All
              </li>
              <li
                :class="{'active': category == 'Discovery'}"
                @click="setCat('Discovery');"
                @keypress="setCat('Discovery');"
              >
                Discovery
              </li>
              <li
                :class="{'active': category == 'Planning'}"
                @click="setCat('Planning');"
                @keypress="setCat('Planning');"
              >
                Planning
              </li>
              <li
                :class="{'active': category == 'Design'}"
                @click="setCat('Design');"
                @keypress="setCat('Design');"
              >
                Design
              </li>
              <li
                :class="{'active': category == 'Development'}"
                @click="setCat('Development');"
                @keypress="setCat('Development');"
              >
                Development
              </li>
              <li
                :class="{'active': category == 'Quality Assurance'}"
                @click="setCat('Quality Assurance');"
                @keypress="setCat('Quality Assurance');"
              >
                Quality Assurance
              </li>
              <li
                :class="{'active': category == 'Marketing'}"
                @click="setCat('Marketing');"
                @keypress="setCat('Marketing');"
              >
                Marketing
              </li>
            </ul>
          </div>
        </div>

        <ul class="projects row">
          <li
            v-for="(project, index) in filteredProjects"
            :key="index"
            class="col-6"
            :class="{ 'no-link': project.url == '' }"
          >
            <div class="project">
              <a :href="project.url">
                <img
                  v-if="project.thumbnails.length == 1"
                  :src="project.thumbnails[0].thumbnail.url"
                  :alt="project.thumbnails[0].thumbnail.alt"
                >
              </a>

              <div v-if="project.thumbnails.length > 1">
                <div class="slider">
                  <transition
                    :name="slideTransition"
                    mode="out-in"
                  >
                    <a :href="project.url">
                      <img
                        :key="project.slide"
                        :src="project.thumbnails[project.slide].thumbnail.url"
                        :alt="project.thumbnails[project.slide].thumbnail.alt"
                      >
                    </a>
                  </transition>
                  <div
                    class="prev"
                    @click="prev(project)"
                    @keyPress="prev(project)"
                  >
                    <font-awesome-icon
                      icon="arrow-left-long"
                    />
                  </div>
                  <div
                    class="next"
                    @click="next(project)"
                    @keyPress="next(project)"
                  >
                    <font-awesome-icon
                      icon="arrow-right-long"
                    />
                  </div>
                </div>

                <div class="preload">
                  <img
                    v-for="(img, index2) in project.thumbnails"
                    :key="index2"
                    :src="img.thumbnail.url"
                    :alt="img.thumbnail.alt"
                  >
                </div>
              </div>
              <a :href="project.url">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
              </a>
            </div>
          </li>
        </ul>

        <div class="footer-form">
          <div class="row">
            <div class="col-7">
              <h2>Let's Start <strong>a project</strong></h2>
              <hr>
              <ProjectForm />
            </div>
            <div class="col-1" />
            <img
              class="col-4 desktop"
              :src="footerAbstract"
              alt=""
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import abstract4 from '@/assets/imgs/abstract4.svg';
import footerAbstract from '@/assets/imgs/blog-footer-abstract.svg';
import { page } from '@/mixins/wp-post';

export default {
  name: 'KnockWorks',

  mixins: [page('works')],

  data() {
    return {
      category: 'All',
      footerAbstract,
      slideTransition: 'slide-next',
      sliderProjects: []
    };
  },

  computed: {
    headerBg() {
      return `background: #131212 url("${abstract4}") no-repeat scroll top right`;
    },

    filteredProjects() {
      if (this.category === 'All') {
        return this.sliderProjects;
      }

      const projects = this.sliderProjects.filter((project) => project.categories.indexOf(this.category) >= 0);

      return projects;
    }
  },

  mounted() {
    if (this.$route.hash) {
      let hash = this.$route.hash.substring(1);
      hash = hash.charAt(0).toUpperCase() + hash.slice(1);

      this.category = hash;
    }

    this.sliderProjects = this.page.acf.projects.map((obj) => ({ ...obj, slide: 0 }));
  },

  methods: {
    setCat(cat) {
      this.category = cat;
    },

    next(project) {
      this.slideTransition = 'slide-next';

      if (project.slide < project.thumbnails.length - 1) {
        project.slide += 1;
      }
      else {
        project.slide = 0;
      }

      console.log(`Slide: ${project.slide}`);
    },

    prev(project) {
      this.slideTransition = 'slide-prev';

      if (project.slide > 0) {
        project.slide -= 1;
      }
      else {
        project.slide = project.thumbnails.length - 1;
      }

      console.log(`Slide: ${project.slide}`);
    }
  }

};
</script>

<style lang="scss" scoped>
main {
  background: $knock-black;
  color: $knock-white;
}

.header {
  padding-top: 120px;

  h1 {
    font-size: 112px;
    line-height: 112px;
    font-weight: 700;
    margin: 0;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 48px;
      line-height: 56px;
    }

    @media screen and (max-height: 600px) {
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  li {
    cursor: pointer;
    color: $knock-white;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 1px solid $knock-white;
    border-radius: 18px;
    transition: all 0.4s;
    margin-bottom: 8px;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.active,
    &:hover {
      color: $knock-black;
      background: $knock-orange;
      border-color: $knock-orange;
    }
  }
}

.projects {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;

  li {
    transition: all 0.4s;
    top: 0;
    right: 0;

    &:hover {
      transform: scale(1.025);
    }

    &.no-link {
      pointer-events: none;
    }

    .project {
      height: 100%;
      margin-bottom: 32px;

      a {
        display: block;
        color: $knock-white;
        text-decoration: none;
      }

      img {
        width: 100%;
      }

      h2 {
        text-transform: unset;
        font-size: 24px;
        line-height: 32px;
        margin: 12px 0 0;
      }

      p {
        font-size: 14px;
        line-height: 16px;
        margin-top: 8px;
        color: #888;
      }
    }

    .slider {
      position: relative;

      .slide-next-enter-active,
      .slide-next-leave-active,
      .slide-prev-enter-active,
      .slide-prev-leave-active {
        transition: all 0.4s ease;
      }

      .slide-next-enter {
        transform: translateX(50px);
        opacity: 0;
      }

      .slide-next-leave-to {
        transform: translateX(-50px);
        opacity: 0;
      }

      .slide-prev-enter {
        transform: translateX(-50px);
        opacity: 0;
      }

      .slide-prev-leave-to {
        transform: translateX(50px);
        opacity: 0;
      }

      .prev,
      .next {
        border: 1px solid #606060;
        color: #606060;
        height: 20px;
        width: 20px;
        padding: 8px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: calc(50% - 20px);
        cursor: pointer;
        transition: all 0.4s ease;
        pointer-events: all;

        &:hover {
          color: $knock-white;
          border-color: $knock-orange;
          background: $knock-orange;
        }
      }

      .prev {
        left: 8px;
      }

      .next {
        right: 8px;
      }
    }

    .preload {
      display: none;
    }

    .pager {
      list-style-type: none;
      padding: 0;
      margin: 20px 0 0;
      display: flex;
      justify-content: center;

      li {
        display: block;
        height: 10px;
        width: 10px;
        border: 1px solid $knock-black;
        border-radius: 6px;
        cursor: pointer;
        margin: 0 10px;

        &:first-child() {
          margin-right: 10px;
        }

        &:last-child() {
          margin-left: 10px;
        }

        &.active {
          background: $knock-black;
        }
      }
    }
  }
}

.footer-form::v-deep {
  padding: 60px 0 120px;
  background: $knock-black;
  color: $knock-white;

  h2 {
    font-weight: 700;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }
}
</style>
