<!-- eslint-disable vue/no-v-html -->
<template>
  <main>
    <div
      class="banner"
      :style="bannerBg"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a
              href="/mindshare"
              class="back desktop"
            ><font-awesome-icon
              icon="arrow-left-long"
            /> Back to Mindshare</a>
            <h1 v-html="post.title.rendered" />
            <hr>
            <div
              class="date"
              v-text="toDate(post.date)"
            />
            <div
              v-if="post.acf.author"
              class="author"
              v-text="post.acf.author"
            />
            <ul class="cats">
              <li
                v-for="cat in post.categories"
                :key="cat"
                v-text="catNames[cat]"
              />
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <div class="row">
          <div
            class="col-1 share"
            :style="'margin-top: ' + shareOffset + 'px;'"
          >
            <p>Share Article</p>
            <a
              :href="`https://bsky.app/intent/compose?text=https://knockmedia.com/${post.slug}`"
              aria-label="Share on Bluesky"
              target="_blank"
            >
              <font-awesome-icon :icon="['fab', 'bluesky']" />
            </a>
            <a
              :href="`https://twitter.com/intent/tweet?text=&url=https://knockmedia.com/${post.slug}`"
              aria-label="Share on Twitter"
              target="_blank"
            >
              <font-awesome-icon :icon="['fab', 'x-twitter']" />
            </a>
            <a
              :href="`https://www.linkedin.com/sharing/share-offsite/?url=https://knockmedia.com/${post.slug}`"
              aria-label="Share on LinkedIn"
              target="_blank"
            >
              <font-awesome-icon :icon="['fab', 'linkedin-in']" />
            </a>
          </div>
          <article
            ref="article"
            class="col-6"
            v-html="post.content.rendered"
          />
          <div class="col-1" />
          <aside class="col-4">
            <h3>More Articles</h3>
            <a
              v-for="sidePost in posts"
              :key="sidePost.id"
              :href="'/' + sidePost.slug"
              class="post"
            >
              <img
                :src="getLogo(sidePost)"
                alt="post thumbnail"
              >
              <div class="text">
                <div class="author">{{ sidePost.acf.author }}</div>
                <div class="date">{{ toDate(sidePost.date) }}</div>
                <div
                  class="title"
                  v-html="sidePost.title.rendered"
                />
              </div>
            </a>
          </aside>
        </div>
      </div>
    </div>

    <div class="footer-form mobile">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2><strong>Like</strong> Our Content?</h2>
            <hr>
            <BlogForm />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import thumbnail from '@/assets/imgs/mindshare.png';
import abstract from '@/assets/imgs/post-abstract.svg';

export default {
  name: 'KnockPost',

  async asyncData({ params, payload, $wpJson }) {
    if (payload) {
      return payload;
    }

    const { slug } = params;
    const catNames = [];
    let post;
    let categories = [];
    let posts = [];

    try {
      post = await $wpJson.posts.getBySlug(slug);
      post.categories = post.categories.filter((cat) => cat !== 1);
    }
    catch (err) {
      console.error(err);
    }

    try {
      (categories = await $wpJson.posts.getCats());
    }
    catch (err) {
      console.error(err);
    }

    try {
      ({ posts } = await $wpJson.posts.getPreviews({
        perPage: 2
      }));
    }
    catch (err) {
      console.error(err);
    }

    categories = categories.filter((cat) => cat.count !== 0);

    categories.some((cat, id) => cat.id === 1 && categories.unshift(
      categories.splice(id, 1)[0]
    ));

    categories.forEach((category) => {
      catNames[category.id] = category.name;
    });

    return { post, catNames, posts };
  },

  data() {
    return {
      thumbnail,
      shareOffset: 0
    };
  },

  computed: {
    bannerBg() {
      return `background:  url("${abstract}") no-repeat right top/auto calc(100% - 24px) #131212`;
    }
  },

  mounted() {
    this.computeShareOffset();
    window.addEventListener('resize', this.computeShareOffset);
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.computeShareOffset);
  },

  methods: {
    toDate(string) {
      const today = new Date(string);
      return today.toDateString();
    },

    getLogo(post) {
      if (post?.thumbnail?.source_url) {
        return post.thumbnail.source_url;
      }
      return this.thumbnail;
    },

    computeShareOffset() {
      this.shareOffset = this.$refs.article.firstElementChild.offsetHeight + 60;
    }
  }
};
</script>

<style lang="scss" scoped>
.banner {
  color: $knock-white;

  @media screen and (max-width: $breakpoint-sm) {
    padding-top: 100px;
  }

  .back {
    margin: 40px 0;
    font-weight: 14px;
    line-height: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;

    svg {
      border: 1px solid $knock-orange;
      display: inline-block;
      height: 20px;
      width: 20px;
      padding: 8px;
      border-radius: 20px;
      margin-right: 20px;
    }
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }

  hr {
    margin: 20px 0;
  }

  .date {
    font-size: 14px;
    line-height: 16px;
    margin-right: 12px;
    display: inline;
  }

  .author {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    border-left: 1px solid $knock-white;
    padding-left: 12px;
    display: inline;
  }

  .cats {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

    li {
      cursor: pointer;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      padding: 8px 16px;
      color: $knock-white;
      border: 1px solid $knock-white;
      border-radius: 18px;
      transition: all 0.4s;
      margin-bottom: 8px;

      &:not(:last-child) {
        margin-right: 8px;
      }

      &:hover {
        color: $knock-white;
        background: $knock-orange;
        border-color: $knock-orange;
      }
    }
  }
}

.share {
  transition: all 0.4s;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;

  p {
    margin-top: 0;
  }

  @media screen and (max-width: $breakpoint-sm) {
    margin-top: 0 !important;
    position: fixed;
    right: 0;
    bottom: 100px;
    width: 56px;
    background: $knock-white;
    padding: 5px;

    p {
      display: none;
    }
  }

  a {
    font-size: 20px;
    color: $knock-white;
    background: $knock-black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;

    &:not(:first-of-type) {
      margin: 9px 0 0;
    }
  }
}

article::v-deep {
  counter-reset: subHeaders;

  & > *:first-child {
    font-size: 20px;
    width: calc(112.5% + 24px);
    margin-left: calc(-12.5% - 24px) !important;

    @media screen and (max-width: $breakpoint-sm) {
      width: 100%;
      margin-left: 0 !important;
    }
  }

  p {
    margin: 20px 0 40px;
  }

  figure.wp-block-image {
    margin: 20px 0 40px;
  }

  h2 {
    margin: 40px 0  20px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    text-transform: none;
  }

  h3 {
    margin: 40px 0 20px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-transform: none;
    position: relative;
    counter-increment: subHeaders;

    &::before {
      content: counter(subHeaders, decimal-leading-zero);
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      color: transparent;
      width: 12.5%;
      position: absolute;
      left: -12.5%;
      top: -8px;
      -webkit-text-stroke: 1px $knock-orange;

      @media screen and (max-width: $breakpoint-sm) {
        position: static;
        display: block;
        margin-bottom: 8px;
      }
    }
  }

  blockquote {
    margin: 60px 0;
    padding: 40px 0;
    border-top: 2px solid $knock-orange;
    border-bottom: 2px solid $knock-orange;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    position: relative;

    &::before {
      content: '';
      background: url('~assets/imgs/quote.svg');
      background-size: contain;
      background-repeat: no-repeat;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      color: transparent;
      width: calc(12.5% - 24px);
      height: 100%;
      position: absolute;
      left: -12.5%;
      top: -8px;
      -webkit-text-stroke: 1px $knock-orange;

      @media screen and (max-width: $breakpoint-sm) {
        background-color: $knock-white;
        left: 0;
        width: 70px;
        height: 40px;
        padding-right: 24px;
      }
    }

    p {
      margin: 0;
    }

    strong {
      font-weight: 700;
      color: $knock-orange;
    }
  }
}

aside {
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: none;
  }

  .post {
    border: 1px solid #dddddf;
    text-decoration: none;
    display: block;
    margin-bottom: 40px;

    img {
      width: 100%;
    }

    .text {
      padding: 20px 28px 46px;

      .author {
        color: $knock-orange;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
        font-weight: 500;
      }

      .date {
        color: #606060;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .title {
        color: $knock-black;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
  }
}

.footer-form {
  padding: 60px 0 120px;
  background: $knock-black;
  color: $knock-white;

  h2 {
    font-weight: 700;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }
}
</style>
