@import './fonts';
@import './utilities';

body {
  font-family:
    Montserrat,
    'Helvetica Neue',
    Helvetica,
    Arial,
    system-ui,
    -apple-system,
    Roboto,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

#__layout {
  position: relative;
  overflow: hidden;
}

h1 {
  font-family:
    Montserrat,
    'Helvetica Neue',
    Helvetica,
    Arial,
    system-ui,
    -apple-system,
    Roboto,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 112px;
  text-transform: uppercase;
}

h2 {
  font-family:
    Montserrat,
    'Helvetica Neue',
    Helvetica,
    Arial,
    system-ui,
    -apple-system,
    Roboto,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-transform: uppercase;
}

h3 {
  font-family:
    Montserrat,
    'Helvetica Neue',
    Helvetica,
    Arial,
    system-ui,
    -apple-system,
    Roboto,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

h4 {
  font-family:
    Montserrat,
    'Helvetica Neue',
    Helvetica,
    Arial,
    system-ui,
    -apple-system,
    Roboto,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  text-transform: uppercase;
}

h5 {
  font-family:
    Montserrat,
    'Helvetica Neue',
    Helvetica,
    Arial,
    system-ui,
    -apple-system,
    Roboto,
    'Segoe UI',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

a {
  color: $knock-orange;
}

strong {
  font-weight: 600;
}

em {
  color: $knock-orange;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.wp-block-embed__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
