@use 'sass:math';

.container {
  max-width: calc(100% - ( $grid-gutter * 2 ));
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  width: 100%;
  transition: all 0.4s;

  @media (min-width: $breakpoint-sm) {
    max-width: $grid-max-width-sm;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-md) {
    max-width: $grid-max-width-md;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $grid-max-width-lg;
    margin: 0 auto;
  }

  @media (max-width: 1110px) and (min-width: $breakpoint-sm) {
    padding-left: 90px;
    width: calc(100% - 90px);
  }
}

.row {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: math.div($grid-gutter, -2);
  margin-right: math.div($grid-gutter, -2);

  .row {
    margin: 0;
  }
}

.col-flex {
  display: flex;
}

.col-0 {
  display: none;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: calc((100% / #{$grid-columns}) * #{$i} - #{$grid-gutter});
    margin: 0 math.div($grid-gutter, 2);
    box-sizing: border-box;

    @media screen and (max-width: $grid-max-width-sm) {
      width: 100%;
      margin: 0;
    }
  }
}

.desktop {
  display: none;
}

@media screen and (min-width: $breakpoint-sm) {
  .mobile {
    display: none;
  }

  .desktop {
    display: unset;
  }
}

hr {
  width: 80px;
  height: 0;
  color: $knock-orange;
  margin: 30px 0;
  border-style: solid;
}

.btn {
  display: inline-block;
  color: $knock-black;
  text-decoration: none;
  border: 2px solid $knock-black;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 16px 48px;
  transition: all 0.4s;

  &.desktop {
    display: none;
  }

  @media screen and (min-width: $breakpoint-sm) {
    &.mobile {
      display: none;
    }

    &.desktop {
      display: inline-block;
    }
  }

  &:hover {
    background: $knock-orange;
    color: $knock-white;
    border-color: $knock-orange;
  }

  &.white {
    color: $knock-white;
    border-color: $knock-white;

    &:hover {
      color: $knock-black;
      border-color: $knock-orange;
    }
  }

  &.orange {
    color: $knock-orange;
    border-color: $knock-orange;

    &:hover {
      background: $knock-white;
      border-color: $knock-white;
      color: $knock-black;
    }
  }
}
