// Colors
$knock-orange: #ef7920;
$knock-black: #131212;
$knock-white: #fff;
$knock-gray: #949494;

// Breakpoints
$grid-gutter: 24px;
$grid-max-width-sm: 720px;
$grid-max-width-md: 910px;
$grid-max-width-lg: 1080px;
$breakpoint-sm: 768px;
$breakpoint-md: 980px;
$breakpoint-lg: 1280px;
$grid-columns: 12;
