<template>
  <main>
    <div
      class="banner"
      :style="bannerSectionBg"
    >
      <div class="container">
        <div class="row">
          <div class="col-7">
            <h1>About Us</h1>
            <hr>
            <div v-html="page.acf.top_text" />
          </div>
        </div>
      </div>
    </div>

    <div class="s1">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s1_header" />
            <hr>
          </div>
          <div class="col-1" />
          <div class="col-7">
            <p>{{ page.acf.s1_top_text }}</p>
          </div>
        </div>
        <ul>
          <li
            v-for="(section, index) in page.acf.s1_links"
            :key="section.name"
          >
            <a :href="section.url">
              <img
                :src="smallAbstract[index]"
                :alt="section.letter"
              >
              <h3>{{ section.letter }}</h3>
              <p>{{ section.name }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="s2">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s2_header" />
            <hr>
          </div>

          <div class="col-8">
            <div v-html="page.acf.s2_text" />
          </div>
        </div>
      </div>
    </div>

    <div class="s3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 v-html="page.acf.s3_header" />
          </div>
        </div>

        <div class="row icons">
          <div class="col-1" />
          <div class="col-2">
            <img
              :src="page.acf.icon_1.url"
              :alt="page.acf.icon_1.alt"
            >
            <hr>
            <h3>{{ page.acf.label_1 }}</h3>
            <h4 v-if="page.acf.middle_text_1">
              {{ page.acf.middle_text_1 }}
            </h4>
          </div>
          <div class="col-2">
            <img
              :src="page.acf.icon_2.url"
              :alt="page.acf.icon_2.alt"
            >
            <hr>
            <h3>{{ page.acf.label_2 }}</h3>
            <h4 v-if="page.acf.middle_text_2">
              {{ page.acf.middle_text_2 }}
            </h4>
          </div>
          <div class="col-2">
            <img
              :src="page.acf.icon_3.url"
              :alt="page.acf.icon_3.alt"
            >
            <hr>
            <h3>{{ page.acf.label_3 }}</h3>
            <h4 v-if="page.acf.middle_text_3">
              {{ page.acf.middle_text_3 }}
            </h4>
          </div>
          <div class="col-2">
            <img
              :src="page.acf.icon_4.url"
              :alt="page.acf.icon_4.alt"
            >
            <hr>
            <h3>{{ page.acf.label_4 }}</h3>
            <h4 v-if="page.acf.middle_text_4">
              {{ page.acf.middle_text_4 }}
            </h4>
          </div>
          <div class="col-2">
            <img
              :src="page.acf.icon_5.url"
              :alt="page.acf.icon_5.alt"
            >
            <hr>
            <h3>{{ page.acf.label_5 }}</h3>
          </div>
          <div class="col-1" />
        </div>
      </div>
    </div>

    <div class="s4">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s4_header" />
            <hr>
          </div>

          <div class="col-8">
            <div v-html="page.acf.s4_text" />
          </div>
        </div>
      </div>
    </div>

    <div class="s5">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s5_header" />
            <hr>
          </div>
          <div class="col-1" />
          <div class="col-7">
            <ul>
              <li
                v-for="(logo, index) in page.acf.logos"
                :key="index"
              >
                <img
                  :src="logo.logo.sizes.large"
                  :alt="logo.logo.alt"
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-form">
      <div class="container">
        <div class="row">
          <div class="col-7">
            <h2>Let's Start <strong>a project</strong></h2>
            <hr>
            <ProjectForm />
          </div>
          <div class="col-1" />
          <img
            class="col-4 desktop"
            :src="footerAbstract"
            alt=""
          >
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import footerAbstract from '@/assets/imgs/blog-footer-abstract.svg';
import abstract from '@/assets/imgs/post-abstract.svg';
import smallAbstract0 from '@/assets/imgs/small-abstract-1.svg';
import smallAbstract1 from '@/assets/imgs/small-abstract-2.svg';
import smallAbstract2 from '@/assets/imgs/small-abstract-3.svg';
import smallAbstract3 from '@/assets/imgs/small-abstract-4.svg';
import smallAbstract4 from '@/assets/imgs/small-abstract-5.svg';
import smallAbstract5 from '@/assets/imgs/small-abstract-6.svg';
import { page } from '@/mixins/wp-post';

export default {
  name: 'KnockAbout',

  mixins: [page('about')],

  data() {
    return {
      abstract,
      smallAbstract: [smallAbstract0, smallAbstract1, smallAbstract2, smallAbstract3, smallAbstract4, smallAbstract5],
      footerAbstract
    };
  },

  computed: {
    bannerSectionBg() {
      return `background: #131212 url("${abstract}") no-repeat scroll top right / auto 90%`;
    }
  }
};
</script>

<style lang="scss" scoped>
.banner::v-deep {
  padding: 120px 0 60px;
  position: relative;
  color: $knock-white;
  background-size: auto 90%;

  @media screen and (max-width: $breakpoint-sm) {
    background-size: auto;
  }

  .container {
    z-index: 30;
  }

  h1 {
    font-size: 112px;
    line-height: 112px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 48px;
      line-height: 56px;
    }

    @media screen and (max-height: 600px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  hr {
    margin: 21px 0 48px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }
}

.s1::v-deep {
  padding: 80px 0 40px;

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 0;
    text-transform: none;

    p {
      margin: 0;
    }

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  hr {
    margin-top: 20px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      width: 30%;
      text-align: center;

      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
      }

      a {
        text-decoration: none;
        position: relative;
        display: block;

        @media screen and (max-width: $breakpoint-sm) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        img {
          position: absolute;
          width: 100%;
          left: -40px;
          top: -50px;
          transition: all 0.4s;
          opacity: 0;
          transform: rotate(-45deg) scale(0.6);
          z-index: 10;
        }

        h3 {
          font-size: 180px;
          line-height: 180px;
          font-weight: 900;
          color: $knock-white;
          -webkit-text-stroke: 3px $knock-orange;
          margin: 50px 0;
          transition: all 0.4s;
          z-index: 20;
          position: relative;

          @media screen and (max-width: $breakpoint-sm) {
            font-size: 112px;
            line-height: 112px;
            font-weight: 700;
            color: $knock-black;
            -webkit-text-stroke: 0 transparent;
          }
        }

        p {
          font-size: 24px;
          line-height: 24px;
          color: $knock-black;
          font-weight: 600;
          margin: 0 0 80px;
          transition: all 0.4s;

          @media screen and (max-width: $breakpoint-sm) {
            line-height: 32px;
            margin: 0;
            width: 60%;
            text-align: left;
          }
        }

        &:hover {
          h3 {
            color: $knock-orange;
          }

          p {
            color: $knock-orange;
          }

          img {
            left: 0;
            opacity: 1;
            transform: rotate(0) scale(1);

            @media screen and (max-width: $breakpoint-sm) {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.s2::v-deep {
  background: $knock-black;
  color: $knock-white;
  padding: 80px 0 120px;

  h2 {
    p {
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      margin: 0;
      text-transform: none;
    }

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  hr {
    margin-top: 20px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 0;
  }
}

.s3::v-deep {
  padding: 80px 0 120px;

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    text-transform: none;
    margin-bottom: 80px;
  }

  .icons {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 40px;
      left: calc((100% / 12) * 2 - 24px);
      right: calc((100% / 12) * 2 - 24px);
      height: 1px;
      background: $knock-orange;
      z-index: 10;

      @media screen and (max-width: $breakpoint-sm) {
        width: 1px;
        height: unset;
        left: 40px;
        right: unset;
        bottom: 100px;
      }
    }

    .col-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      z-index: 20;

      @media screen and (max-width: $breakpoint-sm) {
        flex-direction: row;
        margin-bottom: 80px;
        text-align: left;
      }

      img {
        height: 30px;
        width: 30px;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $knock-orange;
        border-radius: 40px;
      }

      h3 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        margin: 0;

        @media screen and (max-width: $breakpoint-sm) {
          font-size: 18px;
          line-height: 24px;
        }
      }

      hr {
        height: 4px;
        width: 4px;
        border-radius: 2px;
        border: none;
        background: $knock-orange;
        margin: 16px auto;

        @media screen and (max-width: $breakpoint-sm) {
          margin: 0 16px;
        }
      }

      h4 {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        margin: 0;
        text-transform: none;
        position: absolute;
        width: 70%;
        top: -30px;
        right: -42%;

        @media screen and (max-width: $breakpoint-sm) {
          width: calc(100% - 116px);
          top: unset;
          right: unset;
          left: 116px;
          bottom: -50px;
          color: $knock-orange;
        }
      }
    }
  }
}

.s4::v-deep {
  padding: 80px 0 120px;
  background: #f8f8f8;

  h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin: 0;
    text-transform: none;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 0;
  }
}

.s5::v-deep {
  padding: 80px 0 120px;

  h2 {
    p {
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      margin: 0;
      text-transform: none;
    }

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      width: calc(25% - 2px);
      filter: grayscale(100%);
      transition: all 0.4s;
      border: 1px solid #e8e8e8;

      @media screen and (max-width: $breakpoint-sm) {
        width: calc(50% - 2px);
      }

      &:hover {
        filter: grayscale(0%);
      }

      img {
        width: 100%;
      }
    }
  }
}

.footer-form {
  padding: 60px 0 120px;
  background: $knock-black;
  color: $knock-white;

  h2 {
    font-weight: 700;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }
}
</style>
