<template>
  <main>
    <div
      class="s1"
      :style="bannerSectionBg"
    >
      <div class="container">
        <p>{{ page.acf.s1_title }}</p>
        <hr>
        <h1 v-html="page.acf.s1_header" />
      </div>
    </div>

    <button
      class="floating-div"
      :class="{abs: scrollPosition < 100, sticky: scrollPosition >= 100, end: scrollPosition >= 3900}"
      :aria-pressed="active ? 'true' : 'false'"
      @click="active = !active"
    >
      <div>
        Contact us
      </div>
    </button>

    <div
      class="lightbox"
      :class="{showLightBox: active, startLightBox: scrollPosition < 600, endLightBox: scrollPosition >= 3900}"
    >
      <h2>Contact us</h2>
      <button
        class="close"
        @click="active = !active"
      >
        &#x2715;
      </button>
      <hr>
      <p>Let's work together! Please fill the form below</p>
      <LightBoxForm />
    </div>

    <div class="s2">
      <div class="container">
        <h3 v-html="page.acf.s2_top" />
        <h2
          class="about-text"
          v-html="page.acf.s2_bottom"
        />
      </div>
    </div>

    <div class="s3">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s3_header" />
            <hr>
          </div>

          <div class="col-8">
            <div v-html="page.acf.s3_text" />
          </div>
        </div>
      </div>
    </div>

    <div class="s4">
      <div class="container">
        <p>{{ page.acf.s4_title }}</p>
        <h2 v-html="page.acf.s4_header" />
        <iframe
          :src="page.acf.video"
          title="Websites and Apps for Associations"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
      </div>
    </div>

    <div class="s5">
      <div class="container">
        <h2 v-html="page.acf.s5_title" />
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s5_header" />
            <hr>
            <p
              class="subheader"
              v-html="page.acf.s5_subheader"
            />
          </div>

          <div class="col-8">
            <div v-html="page.acf.s5_text" />
          </div>
        </div>
        <div class="image-holder">
          <img
            :src="page.acf.s5_image.url"
            :alt="page.acf.s5_image.alt"
          >
        </div>
      </div>
    </div>

    <div class="s6">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s6_header" />
            <hr>
            <p
              class="subheader"
              v-html="page.acf.s6_subheader"
            />
          </div>

          <div class="col-8">
            <div v-html="page.acf.s6_text" />
          </div>
        </div>
        <div class="image-holder">
          <img
            :src="page.acf.s6_image.url"
            :alt="page.acf.s6_image.alt"
          >
        </div>
      </div>
    </div>

    <div class="footer-form">
      <div class="container">
        <div class="row">
          <div class="col-7">
            <h2>Interested<br>in working with<br><strong>KnockMedia?</strong></h2>
            <hr>
            <AssociationsForm />
          </div>
          <div class="col-5" />
        </div>
      </div>
      <img
        :src="footerAbstract"
        alt=""
      >
    </div>
  </main>
</template>

<script>
import abstract from '@/assets/imgs/abstract.svg';
import footerAbstract from '@/assets/imgs/footer-abstract.svg';
import smallAbstract0 from '@/assets/imgs/small-abstract-1.svg';
import smallAbstract1 from '@/assets/imgs/small-abstract-2.svg';
import smallAbstract2 from '@/assets/imgs/small-abstract-3.svg';
import smallAbstract3 from '@/assets/imgs/small-abstract-4.svg';
import smallAbstract4 from '@/assets/imgs/small-abstract-5.svg';
import smallAbstract5 from '@/assets/imgs/small-abstract-6.svg';
import { page } from '@/mixins/wp-post';

export default {
  name: 'KnockAssociations',

  mixins: [page('associations')],

  data() {
    return {
      abstract,
      smallAbstract: [smallAbstract0, smallAbstract1, smallAbstract2, smallAbstract3, smallAbstract4, smallAbstract5],
      footerAbstract,
      scrollPosition: null,
      active: true
    };
  },

  computed: {
    bannerSectionBg() {
      return `background: #131212 url("${abstract}") no-repeat scroll top right / auto 147%`;
    }
  },

  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },

  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
    }
  }
};
</script>

<style lang="scss" scoped>
main {
  position: relative;
}

.s1 {
  color: $knock-white;
  height: calc(100vh - 200px);
  padding-bottom: 200px;

  @media screen and (max-width: $breakpoint-sm) {
    background-size: contain !important;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;

    h1::v-deep {
      font-size: 112px;
      line-height: 112px;
      letter-spacing: 0.02em;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;

      @media screen and (max-width: $breakpoint-sm) {
        font-size: 44px;
        line-height: 56px;
        margin-top: 0;
      }

      @media screen and (max-height: 600px) {
        font-size: 48px;
        line-height: 56px;
        margin-top: 100px;
      }

      p {
        margin: 0;

        strong {
          color: $knock-orange;
          font-weight: 700;
        }
      }
    }

    p {
      margin: 0;
      font-size: 28px;
      line-height: 36px;

      @media screen and (max-width: $breakpoint-sm) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .scroll {
    text-align: center;
    position: absolute;
    bottom: -100px;
    left: calc(50% - 80px);
    cursor: pointer;

    img {
      height: 80px;
      width: 40px;
      transform: rotate(180deg);
    }

    p {
      font-size: 18px;
      line-height: 24px;
      color: $knock-orange;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 16px;
    }
  }
}

.s2 {
  background: $knock-white;
  color: $knock-black;
  text-align: center;
  padding: 60px;

  @media screen and (max-width: $breakpoint-sm) {
    padding: 60px 0;
    text-align: left;
  }

  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 36px;
      line-height: 42px;
      font-weight: 700;
    }
  }

  .about-text {
    font-size: 20px;
    line-height: 28px;
    margin: 0 auto;
    text-transform: none;
  }
}

.s3 {
  color: $knock-black;
  background: #f8f8f8;
  padding: 60px 0 120px;

  h2::v-deep {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: none;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }
  }

  &::v-deep p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  a.more {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }

    img {
      display: inline;
      transform: rotate(90deg);
      width: 40px;
      height: 80px;
      margin-left: 80px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    a.btn {
      width: calc(100% - 4px);
      padding: 16px 0;
      margin-top: 60px;
      text-align: center;
    }
  }
}

.s4 {
  background: #EBE8E8;
  color: $knock-black;
  text-align: center;
  padding: 80px 0 120px;

  @media screen and (max-width: $breakpoint-sm) {
    padding: 60px 0;
    text-align: left;
  }

  h2::v-deep {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 44px;
    }
  }

  iframe {
    width: 100%;
    height: 607px;
    margin-top: 80px;

    @media screen and (max-width: $breakpoint-md) {
      height: 405px;
    }

    @media screen and (max-width: $breakpoint-sm) {
      height: 380px;
    }
  }
}

.s5 {
  color: $knock-white;
  background: #131212;
  padding: 60px 0 120px;

  h2::v-deep {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      text-transform: none;
      text-align: center;
    }
  }

  .subheader {
    font-size: 18px;
    font-style: italic;
  }

  .col-4 {
    text-align: right;
    text-align: -webkit-right;
    padding-right: 56px;
  }

  .image-holder {
    position: relative;
    height: 345px;
    margin-top: 100px;

    img {
      position: absolute;
    }
  }

  &::v-deep p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  a.more {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }

    img {
      display: inline;
      transform: rotate(90deg);
      width: 40px;
      height: 80px;
      margin-left: 80px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    a.btn {
      width: calc(100% - 4px);
      padding: 16px 0;
      margin-top: 60px;
      text-align: center;
    }
  }
}

.s6 {
  color: $knock-black;
  background: #f8f8f8;
  padding: 60px 0 0;

  h2::v-deep {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }
  }

  .subheader {
    font-size: 18px;
    font-style: italic;
  }

  .col-4 {
    text-align: right;
    text-align: -webkit-right;
    padding-right: 56px;
  }

  .image-holder {
    margin-top: 100px;
    position: relative;
    z-index: 1;
  }

  &::v-deep p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  a.more {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }

    img {
      display: inline;
      transform: rotate(90deg);
      width: 40px;
      height: 80px;
      margin-left: 80px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    a.btn {
      width: calc(100% - 4px);
      padding: 16px 0;
      margin-top: 60px;
      text-align: center;
    }
  }
}

.floating-div {
  background: $knock-orange;
  color: $knock-white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-size: 16px;
  width: 131px;
  height: 52px;
  right: 1%;
  top: 17%;
  z-index: 2;

  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }
}

.sticky {
  position: fixed;
  top: 93%;
  right: 1%;
  margin: 0;

  @media screen and (max-width: $breakpoint-sm) {
    display: none !important;
  }
}

.abs {
  position: absolute;
  top: 18%;
  right: 1%;
}

.end {
  position: absolute;
  top: 84%;
  right: 1%;
}

.lightbox {
  position: fixed;
  display: none;
  width: 400px;
  height: 560px;
  background: $knock-white;
  padding: 0 25px;
  bottom: 10px;
  right: 1%;

  @media screen and (max-width: $breakpoint-sm) {
    display: none !important;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
  }
}

.startLightBox {
  position: absolute;
  top: 18%;
}

.endLightBox {
  position: absolute;
  bottom: 15%;
}

.showLightBox {
  display: block;
  z-index: 3;
}

.close {
  background: $knock-white;
  border: none;
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.footer-form {
  position: relative;
  padding: 60px 0 120px;
  background: $knock-black;
  color: $knock-white;

  h2 {
    font-weight: 700;
    text-transform: none;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
  }
}
</style>
