<template>
  <main>
    <div
      class="banner"
      :style="bannerSectionBg"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Let's Chat</h1>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form row">
        <div class="col-7">
          <ProjectForm text="Tell us about yourself and your project and we will touch base later today." />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import abstract from '@/assets/imgs/abstract.svg';

export default {
  name: 'KnockConsult',

  data() {
    return {
      abstract
    };
  },

  computed: {
    bannerSectionBg() {
      return `background: #131212 url("${abstract}") no-repeat scroll top right`;
    }
  }
};
</script>

<style lang="scss" scoped>
.banner {
  padding: 120px 0 60px;
  position: relative;
  color: $knock-white;

  .container {
    z-index: 30;
  }

  .abstract {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 20;
    pointer-events: none;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  h1 {
    font-size: 112px;
    line-height: 112px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 48px;
      line-height: 56px;
    }

    @media screen and (max-height: 600px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  hr {
    margin: 21px 0 48px;
  }
}

.form::v-deep {
  form {
    margin-bottom: 24px;

    .checkboxes .checkbox label {
      border-color: $knock-black;
    }

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    textarea {
      color: $knock-black;
    }
  }
}
</style>
