<template>
  <main>
    <div
      class="banner"
      :style="bannerSectionBg"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="header"
              v-html="page.acf.banner_header"
            />
            <hr>
            <p v-html="page.acf.banner_subheader" />
          </div>
        </div>
      </div>
    </div>

    <div class="s1">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <div v-html="page.content.rendered" />
          </div>

          <aside class="col-4">
            <form
              class="modal-form"
              @submit="formSubmit"
            >
              <p>Time to vote</p>
              <h2>What framework is best?</h2>
              <fieldset ref="form">
                <input
                  id="react"
                  v-model="framework"
                  type="radio"
                  value="React"
                  name="framework"
                  required
                >
                <label
                  for="react"
                  @click="formSubmit('React')"
                  @keyUp="formSubmit('React')"
                ><img
                   :src="react"
                   alt="React"
                   width="150"
                 >
                  <p>React</p><span :class="{ disabled: isSubmitting }">Vote</span>
                </label>

                <div class="vs">
                  vs
                </div>

                <input
                  id="vue"
                  v-model="framework"
                  type="radio"
                  value="Vue"
                  name="framework"
                  required
                >
                <label
                  for="vue"
                  @click="formSubmit('Vue')"
                  @keyUp="formSubmit('Vue')"
                ><img
                   :src="vue"
                   alt="Vue"
                   width="150"
                 >
                  <p>Vue</p><span :class="{ disabled: isSubmitting }">Vote</span>
                </label>
              </fieldset>
              <div ref="confirmation" />
            </form>
          </aside>
        </div>
      </div>
    </div>

    <div class="footer-form">
      <div class="container">
        <div class="row">
          <div class="col-7">
            <h2>Let's Start <strong>a project</strong></h2>
            <hr>
            <ProjectForm />
          </div>
          <div class="col-1" />
          <img
            class="col-4 desktop"
            :src="footerAbstract"
            alt=""
          >
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import footerAbstract from '@/assets/imgs/blog-footer-abstract.svg';
import abstract from '@/assets/imgs/post-abstract.svg';
import react from '@/assets/imgs/react.svg';
import smallAbstract0 from '@/assets/imgs/small-abstract-1.svg';
import smallAbstract1 from '@/assets/imgs/small-abstract-2.svg';
import smallAbstract2 from '@/assets/imgs/small-abstract-3.svg';
import smallAbstract3 from '@/assets/imgs/small-abstract-4.svg';
import smallAbstract4 from '@/assets/imgs/small-abstract-5.svg';
import smallAbstract5 from '@/assets/imgs/small-abstract-6.svg';
import vue from '@/assets/imgs/vue.svg';
import { page } from '@/mixins/wp-post';

export default {
  name: 'KnockAccessibility',

  mixins: [page('front-end-implementations')],

  data() {
    return {
      abstract,
      smallAbstract: [smallAbstract0, smallAbstract1, smallAbstract2, smallAbstract3, smallAbstract4, smallAbstract5],
      footerAbstract,
      vue,
      react,
      framework: this.$route.query.framework,
      isSubmitting: false
    };
  },

  computed: {
    bannerSectionBg() {
      return `background: #131212 url("${abstract}") no-repeat scroll top right / auto 90%`;
    },

    form() {
      if (typeof (this.framework) !== 'undefined') {
        return {
          input_1: this.framework
        };
      }

      return '';
    }
  },

  methods: {
    async formSubmit(choice) {
      if (this.isSubmitting) {
        return;
      }

      this.isSubmitting = true;

      const form = {
        input_1: choice
      };

      this.$wpJson.gf.submit(3, form)
        .then((response) => {
          if (response.is_valid === true) {
            if (this.$refs.form) {
              this.$refs.form.style.maxHeight = '0';
              this.$refs.form.style.padding = '0';
            }

            if (this.$refs.confirmation) {
              this.$refs.confirmation.innerHTML = response.confirmation_message;

              const contentHeight = this.$refs.confirmation.scrollHeight;

              const extraHeight = 20;

              this.$refs.confirmation.style.maxHeight = `${contentHeight + extraHeight}px`;
            }
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.banner {
  padding: 120px 0 60px;
  position: relative;
  color: $knock-white;
  background-size: auto 90%;

  @media screen and (max-width: $breakpoint-sm) {
    background-size: auto;
  }

  .container {
    z-index: 30;
  }

  .header::v-deep {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;

    p {
      font-size: 72px;
      line-height: 72px;
      margin: 0;

      @media screen and (max-width: $breakpoint-sm) {
        font-size: 48px;
        line-height: 56px;
      }

      @media screen and (max-height: 600px) {
        font-size: 48px;
        line-height: 56px;
      }

      strong {
        font-weight: 700;
        color: $knock-orange;
      }
    }
  }

  hr {
    margin: 21px 0 48px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }
}

.s1::v-deep {
  padding: 80px 0 40px;

  @media screen and (max-width: $breakpoint-sm) {
    padding-bottom: 0;
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: none;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  hr {
    margin-top: 20px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
    line-height: 28px;

    li {
      a {
        text-decoration: none;
        position: relative;
        display: block;

        @media screen and (max-width: $breakpoint-sm) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        img {
          position: absolute;
          width: 100%;
          left: -40px;
          top: -50px;
          transition: all 0.4s;
          opacity: 0;
          transform: rotate(-45deg) scale(0.6);
          z-index: 10;
        }

        h3 {
          font-size: 180px;
          line-height: 180px;
          font-weight: 900;
          color: $knock-white;
          -webkit-text-stroke: 3px $knock-orange;
          margin: 50px 0;
          transition: all 0.4s;
          z-index: 20;
          position: relative;

          @media screen and (max-width: $breakpoint-sm) {
            font-size: 112px;
            line-height: 112px;
            font-weight: 700;
            color: $knock-black;
            -webkit-text-stroke: 0 transparent;
          }
        }

        p {
          font-size: 24px;
          line-height: 24px;
          color: $knock-black;
          font-weight: 600;
          margin: 0 0 80px;
          transition: all 0.4s;

          @media screen and (max-width: $breakpoint-sm) {
            line-height: 32px;
            margin: 0;
            width: 60%;
            text-align: left;
          }
        }

        &:hover {
          h3 {
            color: $knock-orange;
          }

          p {
            color: $knock-orange;
          }

          img {
            left: 0;
            opacity: 1;
            transform: rotate(0) scale(1);

            @media screen and (max-width: $breakpoint-sm) {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  form {
    background: $knock-black;
    color: $knock-white;
    text-align: center;
    padding: 12px 40px 24px;

    @media screen and (max-width: $breakpoint-sm) {
      margin: 48px -12px 0;
    }

    p {
      font-size: 10px;
      color: #c8c8cb;
      text-transform: uppercase;
      padding-top: 12px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }

    fieldset {
      border: none;
      flex-direction: column;
      position: relative;
      max-height: 650px;
      overflow: hidden;
      transition: all 0.4s;

      input[type='radio'] {
        display: none;
      }

      label span {
        display: block;
        padding: 8px 28px;
        background: $knock-orange;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 20px;
        cursor: pointer;

        &.disabled {
          background: $knock-gray;
          cursor: not-allowed;
        }
      }

      .vs {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        height: 48px;
        width: 48px;
        border: 2px solid #fff;
        border-radius: 48px;
        margin: 48px auto;
        opacity: 0.25;

        &::before {
          content: '';
          background: #fff;
          height: 2px;
          position: absolute;
          right: calc(50% + 24px);
          left: 0;
        }

        &:after {
          content: '';
          background: #fff;
          height: 2px;
          position: absolute;
          left: calc(50% + 24px);
          right: 0;
        }
      }
    }

    .confirmation {
      max-height: 0;
      overflow: hidden;
      transition: all 0.4s;
    }

    img {
      width: 100%;
      max-width: 150px;
    }
  }
}

.footer-form {
  padding: 60px 0 120px;
  background: $knock-black;
  color: $knock-white;

  h2 {
    font-weight: 700;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }
}
</style>
