<template>
  <main>
    <div
      class="s1"
      :style="bannerSectionBg"
    >
      <div class="container">
        <h1 v-html="page.acf.s1_header" />
        <hr>
        <p>{{ page.acf.s1_subheader }}</p>

        <div
          class="scroll"
          @click="scrollToWorks"
          @keypress="scrollToWorks"
        >
          <img
            :src="arrowOrange"
            alt=""
          >
          <p>See Our Work</p>
        </div>
      </div>
    </div>

    <div class="s2">
      <div class="container">
        <p>{{ page.acf.s2_top }}</p>
        <h2 v-html="page.acf.s2_bottom" />
        <a
          class="btn"
          href="/contact"
        >
          Start a Project
        </a>
      </div>
    </div>

    <div
      class="s3"
      :style="middleSectionBg"
    >
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s3_header" />
            <hr class="mobile">
          </div>
          <div class="col-1" />
          <div class="col-7">
            <p>{{ page.acf.s3_subheader }}</p>
          </div>
        </div>
        <ul>
          <li
            v-for="(section, index) in page.acf.s3_sections"
            :key="section.name"
          >
            <a :href="section.url">
              <img
                :src="smallAbstract[index]"
                :alt="section.letter"
              >
              <h3>{{ section.letter }}</h3>
              <p>{{ section.name }}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="s4">
      <div class="container">
        <h2 v-html="page.acf.s4_header" />
        <hr>
        <ul class="row">
          <li
            v-for="project in page.acf.s4_projects"
            :key="project.name"
            class="col-6"
          >
            <a :href="project.url">
              <img
                :src="project.image.sizes.large"
                :alt="project.image.alt"
              >
              <h3 v-html="project.name" />
              <p>{{ project.description }}</p>
              <font-awesome-icon
                icon="arrow-right-long"
                class="mobile"
              />
            </a>
          </li>
        </ul>
        <a
          href="/works"
          class="btn"
        >
          View Our Work
        </a>
      </div>
    </div>

    <div class="s5">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h2 v-html="page.acf.s5_header" />
            <hr>
          </div>
          <div class="col-1" />
          <div class="col-7">
            <div v-html="page.acf.s5_text" />
            <a
              class="more"
              href="/about"
            >
              Learn More <img
                :src="arrowOrange"
                alt=""
              >
            </a>
          </div>
        </div>

        <a
          href="/about"
          class="btn mobile"
        >
          Learn More
        </a>
      </div>
    </div>

    <div class="s6">
      <div class="container">
        <h2 v-html="page.acf.s6_header" />
        <hr class="mobile">
        <ul>
          <li
            v-for="reason in page.acf.s6_reasons"
            :key="reason.header"
          >
            <h3 v-html="reason.header" />
            <div v-html="reason.subheader" />
          </li>
        </ul>

        <a
          href="/about"
          class="btn white"
        >
          Learn More
        </a>
      </div>
    </div>

    <div
      class="s78"
      :style="bottomSectionBg"
    >
      <div class="container">
        <div class="row s7">
          <div class="col-4">
            <h2 v-html="page.acf.s7_header" />
            <hr>
          </div>
          <div class="col-1" />
          <div class="col-7">
            <ul>
              <li
                v-for="(logo, index) in page.acf.s7_logos"
                :key="index"
              >
                <img
                  :src="logo.logo.sizes.large"
                  :alt="logo.logo.alt"
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="row s8">
          <div class="col-7">
            <h2 v-html="page.acf.s8_header" />
            <hr>
            <ProjectForm />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import abstract from '@/assets/imgs/abstract.svg';
import abstract2 from '@/assets/imgs/abstract2.svg';
import abstract3 from '@/assets/imgs/abstract3.svg';
import arrowOrange from '@/assets/imgs/arrow-orange.svg';
import smallAbstract0 from '@/assets/imgs/small-abstract-1.svg';
import smallAbstract1 from '@/assets/imgs/small-abstract-2.svg';
import smallAbstract2 from '@/assets/imgs/small-abstract-3.svg';
import smallAbstract3 from '@/assets/imgs/small-abstract-4.svg';
import smallAbstract4 from '@/assets/imgs/small-abstract-5.svg';
import smallAbstract5 from '@/assets/imgs/small-abstract-6.svg';
import { page } from '@/mixins/wp-post';

export default {
  name: 'KnockHomepage',

  mixins: [page('home')],

  data() {
    return {
      arrowOrange,
      smallAbstract: [smallAbstract0, smallAbstract1, smallAbstract2, smallAbstract3, smallAbstract4, smallAbstract5]
    };
  },

  computed: {
    bannerSectionBg() {
      return `background: #131212 url("${abstract}") no-repeat scroll top right`;
    },

    middleSectionBg() {
      return `background: #131212 url("${abstract2}") no-repeat scroll 0%`;
    },

    bottomSectionBg() {
      return `background: url("${abstract3}") no-repeat scroll 100%`;
    }
  },

  methods: {
    scrollToWorks() {
      const works = document.querySelector('.s4').offsetTop;
      window.scrollTo({ top: works, behavior: 'smooth' });
    }
  }
};
</script>

<style lang="scss" scoped>
h2 {
  text-transform: unset;
}

.s1 {
  color: $knock-white;
  height: calc(100vh - 200px);
  padding-bottom: 200px;

  @media screen and (max-width: $breakpoint-sm) {
    background-size: contain !important;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h1::v-deep {
      font-size: 112px;
      line-height: 112px;
      letter-spacing: 0.02em;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;

      @media screen and (max-width: $breakpoint-sm) {
        font-size: 48px;
        line-height: 56px;
        margin-top: 100px;
      }

      @media screen and (max-height: 600px) {
        font-size: 48px;
        line-height: 56px;
        margin-top: 100px;
      }

      p {
        margin: 0;

        strong {
          color: $knock-orange;
          font-weight: 700;
        }
      }
    }

    p {
      margin: 0;
      font-size: 28px;
      line-height: 36px;

      @media screen and (max-width: $breakpoint-sm) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .scroll {
    text-align: center;
    position: absolute;
    bottom: -100px;
    left: calc(50% - 80px);
    cursor: pointer;

    img {
      height: 80px;
      width: 40px;
      transform: rotate(180deg);
    }

    p {
      font-size: 18px;
      line-height: 24px;
      color: $knock-orange;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 16px;
    }
  }
}

.s2 {
  color: $knock-black;
  text-align: center;
  padding: 120px 0;

  p {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-transform: unset;
    max-width: 700px;
    margin: 0 auto;

    strong {
      font-weight: 700;
    }

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 28px;
      font-weight: 36px;
      font-weight: 400;

      strong {
        font-weight: 600;
      }
    }
  }
}

.s3 {
  color: $knock-white;
  padding: 80px 0 40px;

  @media screen and (min-width: $breakpoint-sm) {
    background: $knock-black !important;
  }

  h2::v-deep {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 0;

    p {
      margin: 0;
    }

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      width: 30%;
      text-align: center;

      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
      }

      a {
        text-decoration: none;
        position: relative;
        display: block;

        @media screen and (max-width: $breakpoint-sm) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        img {
          position: absolute;
          width: 100%;
          left: -40px;
          top: -50px;
          transition: all 0.4s;
          opacity: 0;
          transform: rotate(-45deg) scale(0.6);
          z-index: 10;
        }

        h3 {
          font-size: 180px;
          line-height: 180px;
          font-weight: 900;
          color: $knock-black;
          -webkit-text-stroke: 3px $knock-orange;
          margin: 50px 0;
          transition: all 0.4s;
          z-index: 20;
          position: relative;

          @media screen and (max-width: $breakpoint-sm) {
            font-size: 112px;
            line-height: 112px;
            font-weight: 700;
            color: $knock-white;
            -webkit-text-stroke: 0 transparent;
          }
        }

        p {
          font-size: 24px;
          line-height: 24px;
          color: $knock-white;
          font-weight: 600;
          margin: 0 0 80px;
          transition: all 0.4s;

          @media screen and (max-width: $breakpoint-sm) {
            line-height: 32px;
            color: $knock-orange;
            margin: 0;
            width: 60%;
            text-align: left;
          }
        }

        &:hover {
          h3 {
            color: $knock-orange;
          }

          p {
            color: $knock-orange;

            @media screen and (max-width: $breakpoint-sm) {
              color: $knock-white;
            }
          }

          img {
            left: 0;
            opacity: 1;
            transform: rotate(0) scale(1);

            @media screen and (max-width: $breakpoint-sm) {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.s4 {
  color: $knock-black;
  margin: 80px 0 120px;

  h2::v-deep {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 0;

    p {
      margin: 0;
    }

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    li {
      @media screen and (max-width: $breakpoint-sm) {
        margin-bottom: 60px;
      }

      a {
        text-decoration: none;
        color: $knock-black;
        margin-top: 32px;
        display: block;

        img {
          width: 100%;
          margin-bottom: 12px;
        }

        h3 {
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          margin: 0;

          &::v-deep p {
            margin: 0;
          }
        }

        p {
          font-size: 14px;
          line-height: 16px;
          margin: 8px 0;
        }

        svg {
          display: block;
          height: 16px;
          width: 16px;
          color: $knock-orange;
          border: 2px solid $knock-orange;
          border-radius: 20px;
          padding: 10px;
          margin-top: 20px;
        }
      }
    }
  }

  a.btn {
    margin: 48px auto 0;
    display: block;
    width: 168px;
    text-align: center;

    @media screen and (max-width: $breakpoint-sm) {
      a.btn {
        width: calc(100% - 4px);
        padding: 16px 0;
        margin-top: 60px;
      }
    }
  }
}

.s5 {
  color: $knock-black;
  background: #f8f8f8;
  padding: 60px 0 120px;

  h2::v-deep {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }
  }

  &::v-deep p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  a.more {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }

    img {
      display: inline;
      transform: rotate(90deg);
      width: 40px;
      height: 80px;
      margin-left: 80px;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    a.btn {
      width: calc(100% - 4px);
      padding: 16px 0;
      margin-top: 60px;
      text-align: center;
    }
  }
}

.s6 {
  background: $knock-black;
  color: $knock-white;
  padding: 80px 0;

  h2::v-deep {
    color: $knock-orange;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;

    @media screen and (max-width: $breakpoint-sm) {
      color: $knock-white;
      text-align: left;

      strong {
        color: $knock-orange;
      }
    }

    strong {
      font-weight: 700;
    }

    p {
      margin: 0;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    counter-reset: item;

    @media screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
    }

    li {
      width: 30%;
      position: relative;

      &::before {
        counter-increment: item;
        content: '0' counter(item);
        font-weight: 900;
        -webkit-text-stroke: 1px $knock-orange;
        font-size: 180px;
        line-height: 180px;
        color: $knock-black;
        position: absolute;
        z-index: 10;

        @media screen and (max-width: $breakpoint-sm) {
          font-size: 48px;
          line-height: 48px;
          left: -45%;
        }
      }

      h3::v-deep {
        font-weight: 600;
        text-transform: unset;
        margin: 100px 0 20px;
        position: relative;
        z-index: 20;

        @media screen and (max-width: $breakpoint-sm) {
          margin-top: 0;
          font-weight: 600;
        }

        p {
          margin: 0;
          font-size: 28px;
          line-height: 42px;
        }
      }

      &::v-deep p {
        font-size: 16px;
        line-height: 24px;
        position: relative;
        z-index: 20;
      }

      @media screen and (max-width: $breakpoint-sm) {
        width: 70%;
        margin: 0 0 20px 30%;
      }
    }
  }

  a.btn {
    margin: 48px auto 0;
    display: block;
    width: 130px;
    text-align: center;
  }
}

.s78 {
  padding: 80px 0 120px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 100% 50%;

  @media screen and (max-width: $breakpoint-sm) {
    background-size: 60% !important;
  }

  h2::v-deep {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }

    p {
      margin: 0;
    }
  }

  .s7 {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        display: flex;
        width: calc(25% - 2px);
        filter: grayscale(100%);
        transition: all 0.4s;
        border: 1px solid #e8e8e8;

        @media screen and (max-width: $breakpoint-sm) {
          width: calc(50% - 2px);
        }

        &:hover {
          filter: grayscale(0%);
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .s8::v-deep {
    margin-top: 200px;

    form {
      .checkboxes .checkbox label {
        border-color: $knock-black;
      }

      input[type='text'],
      input[type='tel'],
      input[type='email'],
      textarea {
        color: $knock-black;
      }
    }
  }
}
</style>
