<template>
  <main>
    <div
      class="header"
      :style="headerBg"
    >
      <div class="container">
        <h1>Mindshare</h1>
        <hr>

        <div class="row">
          <div class="col-12">
            <ul class="categories">
              <li
                v-for="cat in categories"
                :key="cat.id"
                :class="{active: category == cat.id}"
                @click="setCat(cat.id)"
                @keyUp="setCat(cat.id)"
                v-text="cat.name"
              />
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="top-post">
      <div class="container">
        <form
          class="search mobile"
          @submit="searchPosts"
        >
          <input
            v-model="search"
            placeholder="Search Blog"
          >
          <font-awesome-icon :icon="['fa', 'magnifying-glass']" />
        </form>
        <a
          class="post row"
          :href="'/' + posts[0].slug"
        >
          <div class="img col-6">
            <img
              :src="getThumbnail()"
              alt="post thumbnail"
            >
          </div>
          <div class="text col-6">
            <div
              class="title"
              v-html="posts[0].title.rendered"
            />
            <div class="author">{{ posts[0].author }}</div>
            <div class="date">{{ toDate(posts[0].date) }}</div>

            <ul
              v-if="posts[0].categories.length"
              class="cats"
            >
              <li
                v-for="cat in posts[0].categories"
                :key="cat"
                v-text="catNames[cat]"
              />
            </ul>
          </div>
        </a>
      </div>
    </div>

    <div class="recent-posts">
      <div class="container">
        <div class="row desktop">
          <div class="col-7">
            <h2>Recent <strong>Posts</strong></h2>
            <hr>
          </div>
          <div class="col-5">
            <form
              class="search"
              @submit="searchPosts"
            >
              <input
                v-model="search"
                placeholder="Search Blog"
              >
              <font-awesome-icon :icon="['fa', 'magnifying-glass']" />
            </form>
          </div>
        </div>
        <div class="row">
          <KnockPost
            v-for="post in bodyPosts"
            :key="post.id"
            :post="post"
            :categories="catNames"
            class="col-6"
          />
        </div>
        <div class="row">
          <div
            v-if="page != 0"
            class="btn more"
            @click="getPosts"
            @keyPress="getPosts"
          >
            More Posts
          </div>

          <div
            v-if="page == 0"
            class="no-more"
          >
            There are no more posts
          </div>
        </div>
      </div>
    </div>

    <div class="footer-form">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2><strong>Like</strong> Our Content?</h2>
            <hr>
            <BlogForm />
          </div>
          <div class="col-1" />
          <img
            class="col-5 desktop"
            :src="footerAbstract"
            alt=""
          >
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import abstract from '@/assets/imgs/blog-abstract.svg';
import footerAbstract from '@/assets/imgs/blog-footer-abstract.svg';
import thumbnail from '@/assets/imgs/mindshare.png';

export default {
  name: 'KnockBlog',

  async asyncData({ $wpJson }) {
    let posts = [];
    let bodyPosts = [];
    let categories = [];
    const catNames = [];
    const count = 7;

    try {
      ({ posts } = await $wpJson.posts.getPreviews({
        perPage: count
      }));

      bodyPosts = posts.slice(1);
    }
    catch (err) {
      console.error(err);
    }

    try {
      (categories = await $wpJson.posts.getCats());
    }
    catch (err) {
      console.error(err);
    }

    categories = categories.filter((cat) => cat.count !== 0);

    categories.some((cat, id) => cat.id === 1 && categories.unshift(
      categories.splice(id, 1)[0]
    ));

    categories.forEach((cat) => {
      catNames[cat.id] = cat.name;
    });

    categories[0].name = 'All Posts';

    return {
      posts, bodyPosts, categories, catNames, count
    };
  },

  data() {
    return {
      category: 1,
      active: 'active',
      page: 1,
      search: '',
      footerAbstract,
      thumbnail
    };
  },

  computed: {
    headerBg() {
      return `background:  url("${abstract}") no-repeat right top/auto 100% #131212`;
    }
  },

  methods: {
    async getPosts() {
      if (!(this.posts.length % this.count)) {
        let newPosts = [];
        this.page += 1;

        try {
          (newPosts = await this.$wpJson.posts.getPreviews({
            perPage: this.count,
            page: this.page,
            categories: this.category
          }));

          this.posts = this.posts.concat(newPosts.posts);

          this.bodyPosts = this.posts.slice(1);

          if (newPosts.posts.length !== this.count) {
            this.page = 0;
          }
        }
        catch (err) {
          // console.error(err);
          this.page = 0;
        }
      }
      else {
        this.page = 0;
      }
    },

    async setCat(cat) {
      this.page = 1;
      this.category = cat;
      let newPosts = [];

      try {
        (newPosts = await this.$wpJson.posts.getPreviews({
          perPage: this.count,
          page: this.page,
          categories: cat
        }));

        this.posts = [];

        this.posts = this.posts.concat(newPosts.posts);

        this.bodyPosts = this.posts.slice(1);
      }
      catch (err) {
        console.error(err);
      }
    },

    toDate(string) {
      const today = new Date(string);
      const month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      return `${month[today.getMonth()]} ${today.getDate()}, ${today.getFullYear()}`;
    },

    getThumbnail() {
      if (this.posts[0]?.thumbnail?.source_url) {
        return this.posts[0].thumbnail.source_url;
      }

      return this.thumbnail;
    },

    searchPosts(e) {
      e.preventDefault();
      this.$router.push(`/search?q=${encodeURIComponent(this.search)}`);
    }
  }
};
</script>

<style lang="scss" scoped>
main {
  background: $knock-black;
  color: $knock-white;
}

.header {
  padding-top: 120px;
  background-size: auto 506px;

  h1 {
    font-size: 112px;
    line-height: 112px;
    font-weight: 700;
    margin: 0;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 48px;
      line-height: 56px;
    }

    @media screen and (max-height: 600px) {
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  @media screen and (max-width: $breakpoint-sm) {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  li {
    cursor: pointer;
    color: $knock-white;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 1px solid $knock-white;
    border-radius: 18px;
    transition: all 0.4s;
    margin-bottom: 8px;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.active,
    &:hover {
      color: $knock-black;
      background: $knock-orange;
      border-color: $knock-orange;
    }
  }
}

.search {
  position: relative;

  @media screen and (max-width: $breakpoint-sm) {
    margin-bottom: 40px;
  }

  input {
    border: none;
    background: none;
    border-bottom: 2px solid #606060;
    width: calc(100% - 48px);
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    transition: border-bottom-color 0.4s;

    &:focus,
    &:hover {
      outline: none;
      border-bottom-color: $knock-orange;
    }
  }

  svg {
    position: absolute;
    right: 24px;
    top: 12px;
    color: #606060;
  }
}

.top-post {
  background: #f8f8f8;
  color: $knock-black;
  padding: 80px 0;

  @media screen and (max-width: $breakpoint-sm) {
    background: $knock-white;
    padding: 60px 0 24px;
  }

  .post {
    border: 1px solid #dddddf;
    background: $knock-white;
    text-decoration: none;

    .img {
      margin: 0;
      background: $knock-black;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      padding: 40px 40px 50px;

      .author {
        color: $knock-orange;
        font-size: 18px;
        font-weight: 28px;
        margin-bottom: 8px;
      }

      .date {
        color: #606060;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .title {
        color: $knock-black;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        margin-bottom: 28px;
      }

      .cats {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;

        li {
          cursor: pointer;
          color: $knock-black;
          font-size: 12px;
          line-height: 18px;
          text-transform: uppercase;
          padding: 8px 16px;
          background: #f8f8f8;
          border: 1px solid #f8f8f8;
          border-radius: 18px;
          transition: all 0.4s;
          margin-bottom: 8px;

          &:not(:last-child) {
            margin-right: 8px;
          }

          &:hover {
            color: $knock-white;
            background: $knock-orange;
            border-color: $knock-orange;
          }
        }
      }
    }
  }
}

.recent-posts {
  background: $knock-white;
  color: $knock-black;
  padding: 120px 0;

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 0 120px;
  }

  .row.desktop {
    display: flex;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: none;
    margin: 0;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  hr {
    margin: 20px 0 40px;
  }

  &::v-deep {
    .post {
      margin-bottom: 24px;
    }
  }

  .more {
    cursor: pointer;
    margin: 80px auto;
  }
}

.footer-form {
  padding: 60px 0 120px;

  h2 {
    font-weight: 700;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }
}
</style>
