<template>
  <main>
    <div
      class="banner"
      :style="bannerSectionBg"
    >
      <div class="container">
        <div class="row">
          <div class="col-7">
            <h1>Privacy Policy</h1>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <div class="s1">
      <div class="container">
        <div v-html="page.acf.text" />
      </div>
    </div>

    <div class="footer-form">
      <div class="container">
        <div class="row">
          <div class="col-7">
            <h2>Let's Start <strong>a project</strong></h2>
            <hr>
            <ProjectForm />
          </div>
          <div class="col-1" />
          <img
            class="col-4 desktop"
            :src="footerAbstract"
            alt=""
          >
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import footerAbstract from '@/assets/imgs/blog-footer-abstract.svg';
import abstract from '@/assets/imgs/post-abstract.svg';
import smallAbstract0 from '@/assets/imgs/small-abstract-1.svg';
import smallAbstract1 from '@/assets/imgs/small-abstract-2.svg';
import smallAbstract2 from '@/assets/imgs/small-abstract-3.svg';
import smallAbstract3 from '@/assets/imgs/small-abstract-4.svg';
import smallAbstract4 from '@/assets/imgs/small-abstract-5.svg';
import smallAbstract5 from '@/assets/imgs/small-abstract-6.svg';
import { page } from '@/mixins/wp-post';

export default {
  name: 'KnockPrivacy',

  mixins: [page('privacy')],

  data() {
    return {
      abstract,
      smallAbstract: [smallAbstract0, smallAbstract1, smallAbstract2, smallAbstract3, smallAbstract4, smallAbstract5],
      footerAbstract
    };
  },

  computed: {
    bannerSectionBg() {
      return `background: #131212 url("${abstract}") no-repeat scroll top right / auto 90%`;
    }
  }
};
</script>

<style lang="scss" scoped>
.banner::v-deep {
  padding: 120px 0 60px;
  position: relative;
  color: $knock-white;
  background-size: auto 90%;

  @media screen and (max-width: $breakpoint-sm) {
    background-size: auto;
  }

  .container {
    z-index: 30;
  }

  h1 {
    font-size: 112px;
    line-height: 112px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 48px;
      line-height: 56px;
    }

    @media screen and (max-height: 600px) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  hr {
    margin: 21px 0 48px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }
}

.s1::v-deep {
  padding: 80px 0 40px;

  h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-transform: none;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    text-transform: none;
  }

  hr {
    margin-top: 20px;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
    line-height: 28px;

    li {
      a {
        text-decoration: none;
        position: relative;
        display: block;

        @media screen and (max-width: $breakpoint-sm) {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        img {
          position: absolute;
          width: 100%;
          left: -40px;
          top: -50px;
          transition: all 0.4s;
          opacity: 0;
          transform: rotate(-45deg) scale(0.6);
          z-index: 10;
        }

        h3 {
          font-size: 180px;
          line-height: 180px;
          font-weight: 900;
          color: $knock-white;
          -webkit-text-stroke: 3px $knock-orange;
          margin: 50px 0;
          transition: all 0.4s;
          z-index: 20;
          position: relative;

          @media screen and (max-width: $breakpoint-sm) {
            font-size: 112px;
            line-height: 112px;
            font-weight: 700;
            color: $knock-black;
            -webkit-text-stroke: 0 transparent;
          }
        }

        p {
          font-size: 24px;
          line-height: 24px;
          color: $knock-black;
          font-weight: 600;
          margin: 0 0 80px;
          transition: all 0.4s;

          @media screen and (max-width: $breakpoint-sm) {
            line-height: 32px;
            margin: 0;
            width: 60%;
            text-align: left;
          }
        }

        &:hover {
          h3 {
            color: $knock-orange;
          }

          p {
            color: $knock-orange;
          }

          img {
            left: 0;
            opacity: 1;
            transform: rotate(0) scale(1);

            @media screen and (max-width: $breakpoint-sm) {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.footer-form {
  padding: 60px 0 120px;
  background: $knock-black;
  color: $knock-white;

  h2 {
    font-weight: 700;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }
}
</style>
