<template>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>Services</h1>
          <hr>
          <div
            class="top-text"
            v-html="page.acf.top_text"
          />
        </div>
        <div class="col-1" />
        <div class="col-5 desktop">
          <transition
            name="fade"
            mode="out-in"
          >
            <div
              :key="activeIndex"
              class="letter"
            >
              <h3>{{ active.letter }}</h3>
              <img
                :src="smallAbstract[activeIndex]"
                :alt="active.letter"
              >
            </div>
          </transition>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <a
            class="btn white mobile"
            href="/works"
          >
            Featured Projects
          </a>
          <ul>
            <li
              v-for="(service, index) in page.acf.services"
              :key="service.name"
              :class="{'active': activeIndex == index}"
              @click="switchActive(index)"
              @keyPress="switchActive(index)"
            >
              <p class="desktop">{{ service.name }}</p>
              <div class="col-8 mobile">
                <div v-html="service.text" />
              </div>
            </li>
          </ul>
        </div>
        <transition
          name="slide"
          mode="out-in"
        >
          <div
            :key="activeIndex"
            class="col-8 desktop"
          >
            <div v-html="active.text" />
            <a
              :href="active.url"
              class="more desktop"
            >
              Featured Projects<img
                :src="arrowOrange"
                alt=""
              >
            </a>
          </div>
        </transition>
      </div>

      <div class="footer-form row">
        <div class="col-7">
          <h2>Let's Start <strong>a project</strong></h2>
          <hr>
          <ProjectForm />
        </div>
        <div class="col-1" />
        <img
          class="col-4 desktop"
          :src="footerAbstract"
          alt=""
        >
      </div>
    </div>
  </main>
</template>

<script>
import arrowOrange from '@/assets/imgs/arrow-orange.svg';
import footerAbstract from '@/assets/imgs/blog-footer-abstract.svg';
import smallAbstract0 from '@/assets/imgs/small-abstract-1.svg';
import smallAbstract1 from '@/assets/imgs/small-abstract-2.svg';
import smallAbstract2 from '@/assets/imgs/small-abstract-3.svg';
import smallAbstract3 from '@/assets/imgs/small-abstract-4.svg';
import smallAbstract4 from '@/assets/imgs/small-abstract-5.svg';
import smallAbstract5 from '@/assets/imgs/small-abstract-6.svg';
import { page } from '@/mixins/wp-post';

export default {
  name: 'KnockServices',

  mixins: [page('services')],

  data() {
    return {
      activeIndex: 0,
      smallAbstract0,
      smallAbstract1,
      smallAbstract3,
      smallAbstract4,
      smallAbstract5,
      arrowOrange,
      footerAbstract,
      smallAbstract: [smallAbstract0, smallAbstract1, smallAbstract2, smallAbstract3, smallAbstract4, smallAbstract5]
    };
  },

  computed: {
    active() {
      return this.page.acf.services[this.activeIndex];
    }
  },

  mounted() {
    if (this.$route.hash) {
      const hash = this.$route.hash.substring(1);

      this.page.acf.services.forEach((service, index) => {
        if (hash === service.name.toLowerCase()) {
          this.activeIndex = index;
        }
      });
    }
  },

  methods: {
    switchActive(index) {
      this.activeIndex = index;
    },
    start(el) {
      el.style.height = `${el.scrollHeight}px`;
    },
    end(el) {
      el.style.height = '';
    }
  }

};
</script>

<style lang="scss" scoped>
main {
  background: $knock-black;
  color: $knock-white;
  padding: 120px 0 200px;
}

h1 {
  font-size: 112px;
  line-height: 112px;
  font-weight: 700;
  margin: 0;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 48px;
    line-height: 56px;
  }

  @media screen and (max-height: 600px) {
    font-size: 48px;
    line-height: 56px;
  }
}

.top-text {
  margin-top: 40px;
}

.letter {
  position: relative;
  pointer-events: none;

  @media screen and (max-width: $breakpoint-sm) {
    margin: 40px 0;
  }

  h3 {
    font-size: 180px;
    line-height: 180px;
    font-weight: 900;
    color: $knock-orange;
    transition: all 0.4s;
    z-index: 20;
    position: relative;
    text-align: center;
    margin: 0;
  }

  img {
    position: absolute;
    width: 100%;
    top: -120px;
    transform: scale(0.8);
    z-index: 10;

    @media screen and (max-width: $breakpoint-sm) {
      transform: scale(0.6);
    }
  }
}

.row + .row {
  margin-top: 120px;

  @media screen and (max-width: $breakpoint-sm) {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 34px;
      font-size: 28px;
      line-height: 42px;
      cursor: pointer;
      transition: all 0.4s;
      display: flex;
      align-items: center;

      @media screen and (max-width: $breakpoint-sm) {
        cursor: default;
        font-size: 18px;
        line-height: 28px;
        margin-top: 24px;

        &::v-deep em {
          font-size: 28px;
          line-height: 42px;
        }
      }

      &:hover {
        @media screen and (min-width: $breakpoint-sm) {
          color: $knock-orange;
        }
      }

      &.active {
        @media screen and (min-width: $breakpoint-sm) {
          color: $knock-orange;
        }
      }

      p {
        margin: 0;
      }

      .letter {
        @media screen and (max-width: $breakpoint-sm) {
          display: flex;
          justify-content: center;

          & + p {
            text-align: center;
          }
        }
      }

      .drop::v-deep {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        position: relative;
        top: 24px;

        .btn {
          width: calc(100% - 4px);
          text-align: center;
          padding: 16px 0;
          margin-top: 48px;
        }
      }
    }
  }

  a.more {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;

    &.desktop {
      display: none;
    }

    @media screen and (min-width: $breakpoint-sm) {
      &.mobile {
        display: none;
      }

      &.desktop {
        display: flex;
      }
    }

    img {
      display: inline;
      transform: rotate(90deg);
      width: 40px;
      height: 80px;
      margin-left: 60px;
    }
  }
}

.footer-form {
  padding: 60px 0 120px;

  h2 {
    font-weight: 700;

    strong {
      color: $knock-orange;
      font-weight: 700;
    }
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.4s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.4s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.accordion-enter-active,
.accordion-leave-active {
  will-change: height, opacity;
  transition: height 0.4s ease, opacity 0.4s ease;
  overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}
</style>
