<template>
  <div class="contact-form">
    <form
      v-if="!thanks"
      @submit="formSubmit"
    >
      <input
        v-model="name"
        type="text"
        name="name"
        placeholder="Full Name"
        required
      >
      <input
        v-model="email"
        type="email"
        name="email"
        placeholder="Email"
        required
      >
      <input
        v-model="company"
        type="text"
        name="company"
        placeholder="Company"
        required
      >
      <input
        v-model="phone"
        type="tel"
        name="phone"
        placeholder="Phone (optional)"
      >
      <div
        v-show="error"
        class="error"
      >
        Please make sure all fields are filled out properly.
      </div>
      <input
        v-if="!submitting"
        type="submit"
        value="Send"
        :class="{submitting}"
      >
      <img
        v-if="!submitting"
        :src="arrowOrange"
        class="desktop"
        :class="{submitting}"
        alt=""
      >
    </form>

    <div
      v-if="thanks"
      class="thanks"
    >
      <h2>Thank You!</h2>
      <hr>
      <p>We will contact you shortly</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

import arrowOrange from '@/assets/imgs/arrow-orange.svg';

export default {
  name: 'AssociationsForm',

  data() {
    return {
      arrowOrange,

      planning: false,
      design: false,
      development: false,
      content: false,
      marketing: false,
      other: false,
      name: '',
      phone: '',
      email: '',
      message: '',
      company: '',

      error: false,
      thanks: false,
      submitting: false
    };
  },

  computed: {
    form() {
      return {
        input_1_1: this.planning ? 'UX/UI Planning' : false,
        input_1_2: this.design ? 'Design' : false,
        input_1_3: this.development ? 'Development' : false,
        input_1_4: this.content ? 'Content Creation' : false,
        input_1_5: this.marketing ? 'Marketing & Analytics' : false,
        input_1_6: this.other ? 'Other' : false,
        input_2: this.name,
        input_5: this.phone,
        input_6: this.email,
        input_7: this.message,
        input_8: this.company
      };
    },

    submitBg() {
      return `background-image: url("${arrowOrange}");`;
    }
  },

  methods: {
    async formSubmit(e) {
      e.preventDefault();
      // console.log(this.form);

      this.$wpJson.gf.submit(1, this.form)
        .then((response) => {
          // console.log(response);
          if (response.is_valid === true) {
            // you had a successful call
            this.thanks = true;
            this.submitting = false;

            this.planning = false;
            this.design = false;
            this.development = false;
            this.content = false;
            this.marketing = false;
            this.other = false;
            this.name = '';
            this.phone = '';
            this.email = '';
            this.message = '';
            this.company = '';
          }
        })
        .catch((error) => {
          if (error.response) {
            if (error.response.data.is_valid === false) {
              this.error = true;
              this.submitting = false;
            }
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
  form {
    position: relative;

    .checkboxes {
      margin-bottom: 20px;

      .checkbox {
        display: inline-block;
        margin: 8px 2px;

        input {
          display: none;

          &:checked + label {
            background: $knock-orange;
            border-color: $knock-orange;
            color: $knock-white;
          }
        }

        label {
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
          padding: 8px 16px;
          border: 1px solid $knock-white;
          text-transform: uppercase;
          border-radius: 18px;
          transition: all 0.4s;
          cursor: pointer;

          &:hover {
            background: $knock-orange;
            border-color: $knock-orange;
            color: $knock-white;
          }
        }
      }
    }

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    textarea {
      display: block;
      width: calc(100% - 32px);
      padding: 16px;
      font-size: 16px;
      line-height: 24px;
      border: none;
      border-bottom: 1px solid $knock-gray;
      margin-bottom: 20px;
      background: transparent;
      color: $knock-white;
    }

    input[type='submit'] {
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 200px;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: $knock-orange;
      font-weight: 600;
      background-repeat: no-repeat;
      padding: 24px 80px 24px 24px;
      background-position: right center;
      margin: 0 0 0 auto;
      display: block;

      @media screen and (max-width: $breakpoint-sm) {
        display: inline-block;
        text-decoration: none;
        border: 2px solid $knock-orange;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 16px 0;
        transition: all 0.4s;
        background: $knock-orange;
        color: $knock-white;
        width: 100%;
        margin-top: 60px;

        &:hover {
          background: transparent;
          color: $knock-orange;
        }
      }
    }

    img {
      position: absolute;
      bottom: -4px;
      right: 20px;
      transform: rotate(90deg);
      height: 80px;
      width: 40px;
      pointer-events: none;
    }
  }

  .thanks {
    padding: 48px 0;
  }
</style>
