<template>
  <div class="blog-form">
    <form @submit="formSubmit">
      <p>What content would you like to see more of?</p>
      <div class="checkboxes">
        <div class="checkbox">
          <input
            id="all"
            v-model="all"
            type="checkbox"
            name="all"
          >
          <label for="all">All</label>
        </div>
        <div class="checkbox">
          <input
            id="planning"
            v-model="planning"
            type="checkbox"
            name="planning"
          >
          <label for="planning">Strategic Planning</label>
        </div>
        <div class="checkbox">
          <input
            id="design"
            v-model="design"
            type="checkbox"
            name="design"
          >
          <label for="design">UX/UI</label>
        </div>
        <div class="checkbox">
          <input
            id="development"
            v-model="development"
            type="checkbox"
            name="development"
          >
          <label for="development">Development</label>
        </div>
        <div class="checkbox">
          <input
            id="content"
            v-model="content"
            type="checkbox"
            name="content"
          >
          <label for="content">Content Production</label>
        </div>
        <div class="checkbox">
          <input
            id="marketing"
            v-model="marketing"
            type="checkbox"
            name="marketing"
          >
          <label for="marketing">Marketing</label>
        </div>
        <div class="checkbox">
          <input
            id="seo"
            v-model="seo"
            type="checkbox"
            name="seo"
          >
          <label for="seo">SEO</label>
        </div>
        <div class="checkbox">
          <input
            id="other"
            v-model="other"
            type="checkbox"
            name="other"
          >
          <label for="other">Other</label>
        </div>
      </div>
      <p>Sign-up to recieve exclusive content</p>
      <input
        v-model="email"
        type="email"
        name="email"
        placeholder="Email"
        required
      >
      <div
        v-show="error"
        class="error"
      >
        Please make sure all fields are filled out properly.
      </div>
      <input
        v-if="!submitting"
        type="submit"
        value="Send"
      >
      <img
        v-if="!submitting"
        :src="arrowOrange"
        class="desktop"
        alt=""
      >
    </form>
  </div>
</template>

<script>
import axios from 'axios';

import arrowOrange from '@/assets/imgs/arrow-orange.svg';

export default {
  name: 'BlogForm',

  data() {
    return {
      arrowOrange,

      all: false,
      planning: false,
      design: false,
      development: false,
      content: false,
      marketing: false,
      seo: false,
      other: false,
      email: '',

      error: false,
      submitting: false
    };
  },

  computed: {
    form() {
      return {
        input_1_1: this.all ? 'All' : false,
        input_1_2: this.planning ? 'Planning' : false,
        input_1_3: this.design ? 'UX/UI' : false,
        input_1_4: this.development ? 'Development' : false,
        input_1_5: this.content ? 'Content' : false,
        input_1_6: this.marketing ? 'Marketing' : false,
        input_1_7: this.seo ? 'SEO' : false,
        input_1_8: this.other ? 'Other' : false,
        input_6: this.email
      };
    },

    submitBg() {
      return `background-image: url("${arrowOrange}");`;
    }
  },

  methods: {
    async formSubmit(e) {
      e.preventDefault();
      // console.log(this.form);

      this.$wpJson.gf.submit(2, this.form)
        .then((response) => {
          // console.log(response);
          if (response.is_valid === true) {
            // you had a successful call
            this.thanks = true;
            this.submitting = false;

            this.all = false;
            this.planning = false;
            this.design = false;
            this.development = false;
            this.content = false;
            this.marketing = false;
            this.seo = false;
            this.other = false;
            this.email = '';
          }
        })
        .catch((error) => {
          if (error.response) {
            if (error.response.data.is_valid === false) {
              this.error = true;
              this.submitting = false;
            }
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
  form {
    position: relative;

    .checkboxes {
      margin-bottom: 60px;

      .checkbox {
        display: inline-block;
        margin: 8px 2px;

        input {
          display: none;

          &:checked + label {
            background: $knock-orange;
            border-color: $knock-orange;
            color: $knock-white;
          }
        }

        label {
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
          padding: 8px 16px;
          border: 1px solid $knock-white;
          text-transform: uppercase;
          border-radius: 18px;
          transition: all 0.4s;

          &:hover {
            background: $knock-orange;
            border-color: $knock-orange;
            color: $knock-white;
          }
        }
      }
    }

    input[type='email'] {
      display: block;
      color: $knock-white;
      width: calc(100% - 32px);
      padding: 16px;
      font-size: 16px;
      line-height: 24px;
      border: none;
      border-bottom: 1px solid $knock-white;
      margin-bottom: 20px;
      background: transparent;
    }

    input[type='submit'] {
      border: none;
      background-color: transparent;
      cursor: pointer;
      width: 200px;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: $knock-orange;
      font-weight: 600;
      background-repeat: no-repeat;
      padding: 24px;
      background-position: right center;
      margin: 0 0 0 auto;
      display: block;

      @media screen and (max-width: $breakpoint-sm) {
        display: inline-block;
        text-decoration: none;
        border: 2px solid $knock-orange;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 16px 0;
        transition: all 0.4s;
        background: $knock-orange;
        color: $knock-white;
        width: 100%;
        margin-top: 60px;

        &:hover {
          background: transparent;
          color: $knock-orange;
        }
      }
    }

    img {
      position: absolute;
      bottom: -4px;
      right: 0;
      transform: rotate(90deg);
      height: 80px;
      width: 40px;
    }
  }
</style>
