<template>
  <a
    class="post"
    :href="'/' + post.slug"
  >
    <div
      class="image"
      :style="getThumbnail()"
    />
    <div class="text">
      <div
        class="title"
        v-html="post.title.rendered"
      />
      <div class="author">{{ post.author }}</div>
      <div class="date">{{ toDate(post.date) }}</div>

      <ul class="cats">
        <li
          v-for="cat in cats"
          :key="cat"
          v-text="categories[cat]"
        />
      </ul>
    </div>
  </a>
</template>

<script>
import thumbnail from '@/assets/imgs/mindshare.png';

export default {
  name: 'KnockPost',

  props: {
    post: {
      type: Object,
      required: true
    },
    categories: {
      type: Array,
      default() {
        return [];
      }
    }
  },

  data() {
    return {
      thumbnail,
      cats: this.post.categories.filter((cat) => cat !== 1)
    };
  },

  methods: {
    /* toDate(string) {
      const today = new Date(string);
      return today.toDateString();
    }, */

    toDate(string) {
      const today = new Date(string);
      const month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      return `${month[today.getMonth()]} ${today.getDate()}, ${today.getFullYear()}`;
    },

    getThumbnail() {
      if (this.post?.thumbnail?.source_url) {
        return `background-image: url("${this.post.thumbnail.source_url}");`;
      }

      return `background-image: url("${this.thumbnail}");`;
    }
  }
};
</script>

<style lang="scss" scoped>
.post {
  border: 1px solid #dddddf;
  text-decoration: none;

  .image {
    width: 100%;
    height: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 59%;
  }

  .text {
    padding: 40px 40px 50px;

    .author {
      color: $knock-orange;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 8px;
    }

    .date {
      color: #606060;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .title {
      color: $knock-black;
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      margin-bottom: 28px;
    }

    .cats {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;

      li {
        cursor: pointer;
        color: $knock-black;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        padding: 8px 16px;
        background: #f8f8f8;
        border: 1px solid #f8f8f8;
        border-radius: 18px;
        transition: all 0.4s;
        margin-bottom: 8px;

        &:not(:last-child) {
          margin-right: 8px;
        }

        &:hover {
          color: $knock-white;
          background: $knock-orange;
          border-color: $knock-orange;
        }
      }
    }
  }
}
</style>
