<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <nuxt-link
            to="/"
          >
            <img
              :src="logo"
              alt="KnockMedia logo"
              height="36"
              width="172"
            >
          </nuxt-link>
        </div>
        <div class="col-3">
          <p><em>Contacts</em></p>
          <p>
            <a href="tel:8008899316">800.889.9316</a><br>
            <a href="mailto:info@knockmedia.com">info@knockmedia.com</a>
          </p>
        </div>
        <div class="col-3">
          <p><em>Office Location</em></p>
          <p>
            <a
              href="https://goo.gl/maps/YcPhn8D6pMvJdZ4Y7"
              target="_blank"
            >4 Science Park<br>New Haven, CT 06511</a>
          </p>
        </div>
        <div
          class="col-2 back-to-top"
          @click="scrollToTop"
          @keypress="scrollToTop"
        >
          <img
            :src="arrow"
            alt=""
            height="80"
            width="40"
          >
          <img
            :src="arrowOrange"
            alt=""
            height="80"
            width="40"
            class="arrow-orange"
          >
          <p>
            Back to Top
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 copyright">
          ©{{ new Date().getFullYear() }} KnockMedia All Rights Reserved | <a href="/privacy">Privacy Policy</a> | <a href="/accessibility">Accessibility Policy</a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import arrowOrange from '@/assets/imgs/arrow-orange.svg';
import arrow from '@/assets/imgs/arrow.svg';
import logo from '@/assets/imgs/logo-full.svg';

export default {
  name: 'KnockFooter',

  data() {
    return {
      arrowOrange,
      arrow,
      logo
    };
  },

  methods: {
    scrollToTop() {
      const body = document.querySelector('body');
      window.scrollTo({ top: body, behavior: 'smooth' });
    }
  }
};
</script>

<style lang="scss" scoped>
footer {
  background: $knock-black;
  padding: 48px 0 12px;
  font-size: 16px;

  a {
    color: $knock-white;
    text-decoration: none;
    transition: all 0.4s;

    &:hover {
      color: $knock-orange;
    }
  }

  .back-to-top {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: all 0.4s;

    .arrow-orange {
      position: absolute;
      top: 0;
      left: calc(50% - 20px);
      opacity: 0;
      transition: all 0.4s;
    }

    &:hover {
      color: $knock-orange;

      .arrow-orange {
        opacity: 1;
      }
    }
  }

  .copyright {
    color: $knock-gray;
    font-size: 14px;

    a {
      color: $knock-gray;
    }
  }
}
</style>
