<template>
  <header :class="{open, scrolled}">
    <a
      class="logo"
      href="/"
      @click="open = false"
      @keypress="open = false"
    >
      <img
        :src="logo"
        alt="KnockMedia logo"
        height="36"
        width="60"
      >
    </a>

    <div
      class="menu"
      @click="open = !open"
      @keypress="open = !open"
    >
      <span class="bar" />
      <span class="bar" />
      <span class="bar" />
    </div>

    <div class="dropdown">
      <nav>
        <nuxt-link
          v-for="item of mainMenu"
          :key="item.ID"
          :to="item.url"
          @click.native="open = false"
          @keypress="open = false"
        >
          <div class="big">
            {{ item.title[0] + item.title[1] }}
          </div>
          {{ item.title }}
        </nuxt-link>
      </nav>

      <hr class="mobile">

      <div class="social">
        <a
          href="https://bsky.app/profile/knockmedia.com"
          target="_blank"
          aria-label="Bluesky link"
        >
          <font-awesome-icon :icon="['fab', 'bluesky']" />
        </a>
        <a
          href="https://www.linkedin.com/company/knockmedia/"
          target="_blank"
          aria-label="LinkedIn link"
        >
          <font-awesome-icon :icon="['fab', 'linkedin-in']" />
        </a>
      </div>

      <a
        class="btn orange"
        href="/contact"
      >Let's Start a Project</a>
    </div>
  </header>
</template>

<script>
import logo from '@/assets/imgs/logo-nav.svg';

export default {
  name: 'KnockHeader',

  data() {
    return {
      logo,
      open: false,
      scrolled: false
    };
  },

  computed: {
    mainMenu() {
      return this.$store.getters['menus/bySlug']('main-menu');
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll);
  },

  methods: {
    handleScroll() {
      this.scrolled = window.scrollY > 0;
    }
  }

};
</script>

<style lang="scss" scoped>
header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  padding: 20px 15px 68px;
  background: $knock-black;
  z-index: 100;

  @media screen and (max-width: $breakpoint-sm) {
    right: 0;
    bottom: unset;
    width: unset;
    padding-bottom: 50px;
    background: transparent;
    transition: background 0.4s;

    &.scrolled {
      background: $knock-black;
    }

    &.open {
      .menu {
        .bar {
          margin: 15px 0 0;

          &:nth-child(1) {
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            transform: rotate(-45deg);
            margin-top: -3px;
          }

          &:nth-child(3) {
            transform: rotate(45deg);
            margin-top: -3px;
          }
        }
      }

      .dropdown {
        opacity: 1;
        transform: translateX(-100vw);
      }
    }
  }

  @media screen and (max-height: 600px) {
    position: absolute;
    right: 0;
    bottom: unset;
    width: unset;
    background: transparent;

    &.open {
      .menu {
        .bar {
          margin: 15px 0 0;

          &:nth-child(1) {
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            transform: rotate(-45deg);
            margin-top: -3px;
          }

          &:nth-child(3) {
            transform: rotate(45deg);
            margin-top: -3px;
          }
        }
      }

      .dropdown {
        opacity: 1;
        left: 0;
        right: 0;
      }
    }
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 20;
  }

  .menu {
    position: absolute;
    top: 16px;
    right: 8px;
    cursor: pointer;
    z-index: 20;
    padding: 8px;
    min-height: 50px;
    display: none;

    @media screen and (max-width: $breakpoint-sm) {
      display: block;
    }

    @media screen and (max-height: 600px) {
      display: block;
    }

    .bar {
      display: block;
      background: $knock-white;
      width: 28px;
      height: 3px;
      margin-bottom: 8px;
      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 15px;
    top: 100px;
    bottom: 60px;
    z-index: 10;

    @media screen and (max-width: $breakpoint-sm) {
      opacity: 0;
      background: $knock-black;
      padding: 96px 15px 60px;
      position: fixed;
      bottom: 0;
      left: 100vw;
      right: -100vw;
      top: 0;
      transition: all 0.4s;
      overflow-y: auto;
    }

    @media screen and (max-height: 600px) {
      opacity: 0;
      background: $knock-black;
      padding: 96px 15px 60px;
      position: fixed;
      bottom: 0;
      left: 100vw;
      right: -100vw;
      top: 0;
      transition: all 0.4s;
      overflow-y: auto;
    }
  }

  nav {
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      text-align: center;
      color: $knock-white;
      text-decoration: none;
      text-transform: lowercase;
      width: 72px;
      height: 72px;
      border: 2px solid transparent;
      margin: -8px;
      transition: all 0.4s;

      &:not(:last-child) {
        margin-bottom: 52px;

        @media screen and (max-height: 800px) {
          margin-bottom: 24px;
        }
      }

      &:hover {
        border: 2px solid $knock-orange;
        color: $knock-orange;
      }

      @media screen and (max-width: 600px) {
        font-size: 42px;
        line-height: 48px;
        font-weight: 500;
        margin: 24px 0;
        text-transform: uppercase;
        width: 100%;
        text-align: left;

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        &:hover {
          border: 2px solid transparent;
        }
      }

      @media screen and (max-height: 600px) {
        font-size: 36px;
        line-height: 48px;
        font-weight: 500;
        margin: 24px 0;
        text-transform: uppercase;

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        &:hover {
          border: 2px solid transparent;
        }
      }

      .big {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 4px;
        text-transform: capitalize;

        @media screen and (max-width: $breakpoint-sm) {
          display: none;
        }

        @media screen and (max-height: 600px) {
          display: none;
        }
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: $breakpoint-sm) {
      flex-direction: row;
      margin: 40px 0 100px;
    }

    @media screen and (max-height: 600px) {
      flex-direction: row;
      margin: 40px 0 100px;
    }

    a {
      color: $knock-white;
      border: 1px solid $knock-white;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;

      &:first-child {
        margin-bottom: 20px;
      }

      &:hover {
        border: 1px solid $knock-orange;
        color: $knock-orange;
      }

      @media screen and (max-width: $breakpoint-sm) {
        margin-right: 28px;

        &:first-child {
          margin-bottom: 0;
        }
      }

      @media screen and (max-height: 600px) {
        margin-right: 28px;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .btn.orange {
    text-align: center;
    display: none;

    @media screen and (max-width: $breakpoint-sm) {
      display: block;
    }

    @media screen and (max-height: 600px) {
      display: block;
    }
  }
}
</style>
