<!-- eslint-disable vue/no-v-html -->
<template>
  <main>
    <div
      class="header"
      :style="headerBg"
    >
      <div class="container">
        <div class="row">
          <a
            href="/mindshare"
            class="back desktop"
          ><font-awesome-icon
            icon="arrow-left-long"
          /> Back to Mindshare</a>
        </div>

        <div class="row">
          <div class="col-12">
            <h1>
              Search Results For <form
                class="search"
                @submit="searchPosts"
              >
                <input
                  v-model="search"
                  :placeholder="$route.query.s"
                >
              </form>
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom">
      <div class="container">
        <div class="posts row">
          <KnockPost
            v-for="post in posts"
            :key="post.id"
            :post="post"
            :categories="catNames"
            class="col-6"
          />
        </div>
        <div class="row">
          <div
            v-if="page != 0"
            class="btn more"
            @click="getPosts"
            @keyPress="getPosts"
          >
            More Posts
          </div>

          <div
            v-if="page == 0"
            class="no-more"
          >
            There are no more posts
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import abstract from '@/assets/imgs/blog-abstract.svg';

export default {
  name: 'KnockSearch',

  async asyncData({ $wpJson }) {
    let categories = [];
    const catNames = [];

    try {
      (categories = await $wpJson.posts.getCats());
    }
    catch (err) {
      console.error(err);
    }

    categories = categories.filter((cat) => cat.count !== 0);

    categories.some((cat, id) => cat.id === 1 && categories.unshift(
      categories.splice(id, 1)[0]
    ));

    categories.forEach((cat) => {
      catNames[cat.id] = cat.name;
    });

    return {
      catNames
    };
  },

  data() {
    return {
      posts: [],
      search: this.$route.query.q,
      page: 1,
      perPage: 6,
      abstract
    };
  },

  computed: {
    headerBg() {
      return `background:  url("${abstract}") no-repeat right top/auto 100% #131212`;
    }
  },

  watch: {
    $route: {
      handler() {
        this.posts = [];
        this.page = 1;
        this.getPosts();
      },
      deep: true
    }
  },

  mounted() {
    this.getPosts();
  },

  methods: {
    searchPosts(e) {
      e.preventDefault();
      this.$router.push(`/search?q=${encodeURIComponent(this.search)}`);
    },

    async getPosts() {
      if (!(this.posts.length % this.perPage)) {
        let newPosts = [];

        try {
          (newPosts = await this.$wpJson.posts.getPreviews({
            perPage: this.perPage,
            page: this.page,
            search: this.search
          }));

          this.posts = this.posts.concat(newPosts.posts);

          if (newPosts.posts.length !== this.perPage) {
            this.page = 0;
          }
          else {
            this.page += 1;
          }
        }
        catch (err) {
          // console.error(err);
          this.page = 0;
        }
      }
      else {
        this.page = 0;
      }
    },

    toDate(string) {
      const today = new Date(string);
      return today.toDateString();
    }
  }
};
</script>

<style lang="scss" scoped>
.header {
  padding: 80px 0;
  background: $knock-black;
  color: $knock-white;

  @media screen and (max-width: $breakpoint-sm) {
    padding-bottom: 0;
    margin-bottom: 80px;
  }

  .back {
    margin: 40px 0;
    font-weight: 14px;
    line-height: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;

    svg {
      border: 1px solid $knock-orange;
      display: inline-block;
      height: 20px;
      width: 20px;
      padding: 8px;
      border-radius: 20px;
      margin-right: 20px;
    }
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    margin: 0;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 32px;
      line-height: 32px;
    }

    .search {
      position: relative;

      @media screen and (max-width: $breakpoint-sm) {
        margin-bottom: 40px;
      }

      input {
        border: none;
        background: none;
        border-bottom: 2px solid #606060;
        padding: 12px 24px 12px 0;
        color: $knock-orange;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        transition: border-bottom-color 0.4s;

        &:focus {
          outline: none;
          border-bottom-color: $knock-orange;
        }
      }
    }
  }
}

.bottom {
  .posts {
    background: $knock-white;
    color: $knock-black;
    padding: 120px 0 0;

    @media screen and (max-width: $breakpoint-sm) {
      padding: 0 0 120px;
    }

    .row.desktop {
      display: flex;
    }

    h2 {
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
      text-transform: none;
      margin: 0;

      strong {
        color: $knock-orange;
        font-weight: 700;
      }
    }

    hr {
      margin: 20px 0 40px;
    }

    &::v-deep {
      .post {
        margin-bottom: 24px;
      }
    }
  }

  .more {
    cursor: pointer;
    margin: 0 auto 80px;
  }

  .no-more {
    text-align: center;
    color: $knock-orange;
    font-size: 24px;
    width: 100%;
    margin: 60px 0 100px;
    text-transform: uppercase;
  }
}
</style>
