<template>
  <div>
    <!-- TODO -->
  </div>
</template>

<script>
export default {
  name: 'KnockLayoutError',

  props: {
    error: { type: Object, required: true }
  },

  mounted() {
    this.$router.replace('/');
  }
};
</script>
